<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Image Listener</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>

    <script type = "text/javascript">
        angular.module("sample", []);
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>

    <!--W3-CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/home.css">
</head>

<body>
     <!--TITLE-->
    <div class="container">
        <div class="jumb">
            <h1 class="home_title">give me an image <br> <span > and i will listen </span></h1>
            <figure class="button-help">
                <placement1>
                    <img src = "images/question-mark.svg" align="middle" alt="Help" width="65%" height="65%"/>
                </placement1>
            </figure>
        </div>
    </div>
     <div class="container">
        <div class="wrapper">
            <div class="buttonRow">
                    <img src="images/two-boxes.svg" width="80%" height="50%" />
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="wrapper">
            <div class="buttonRow">
                 <button class="button gradient" > Upload Image </button> >
                <button class="button gradient">
                     <img src = "images/arrow-upload.png" alt="Upload Image" width="50%" height="45%" align="center" title="opacity" class="rss opacity"/>
                     <img src = "two-boxes.svg" alt="Upload Image" width="50%" height="45%" />
                </button>
                <figure class="button-arrow">
                    <placement2>
                        <pulsing>
                            <img src = "images/arrow-right.png" alt="Conversion Arrow" width="100" height="100">
                        </pulsing>
                    </placement2>
                </figure>
                <button class="button gradient"></button>
            </div>
        </div>
    </div> -->

    <!-- <div class="container">
        <button class="button">Image here</button>
    </div> -->

    <div id="drop_zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">

    </div>

    <script src="../javascripts/home.js"> </script>
    <script>
        $(document).ready(function(){

        });
    </script>

</h2>


</body>
</html>
