<!doctype html>
<html>
<head>
    <title>Off My Chest</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./javascripts/jquery-3.2.1.min.js"></script>
    

    <script type = "text/javascript">
        angular.module("sample", []);
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--W3-CSS-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/chat.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/home.css">
</head>

<body>
    <br><br><br>
    
     <!--TITLE-->
    <div class="container">
        <!--TITLE & BUTTONS-->
        <div class="jumbotron">
            <h1>Listen To This Image</h1>
        </div>
    </div>






    
    <script src="./javascripts/home.js"> </script>
    <script>
        $(document).ready(function(){
           

            
        });
    </script>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</h2>


</body>
</html>
