<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V7</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
<!--===============================================================================================-->	
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
<script src="../javascripts/jstools/jquery-ui.min.js"></script>
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/intro.css">
<!--===============================================================================================-->
</head>
<body>
<div class="page" data-jquery-page-name="1">

<div class = "intro_container">
	<div class = "left_half">	
		<div class = "title_container_l">
			<h1 class = "title left">the <br><span>image&nbsp;</span></h1>
		</div>
		<div class="triangle-left"></div>
	</div> 
	<div class = "right_half">
		<div class = "title_container_r">
			<h1 class = "title right"><br><span>&nbsp;listener</span></h1>
		</div><div class="navigate" data-page-name="2" data-page-trans="slide-in-from-bottom">slide-in-from-bottom</div>
		<div class="triangle-right"></div>
	</div>
</div>
<div class="page" data-jquery-page-name="2">

</div>
		 

</div>





<script>
$(document).ready(function(){

});

</script>

</body>
</html>