<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V7</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
<!--===============================================================================================-->	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
	<script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
	<script src="../javascripts/jstools/jquery-ui.min.js"></script>
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/intro.css">
<!--===============================================================================================-->
</head>
<body>

<div class = "title_container">
    <h1 class = "title">hi<span>there</span></h1>

</div>






<script>
$(document).ready(function(){

});

</script>

</body>
</html>