<!DOCTYPE html>
<html lang="en">
<head>
	<title>Transmogrify</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
<!--===============================================================================================-->	
<script src="//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js"></script>
<script src="//static.codepen.io/assets/editor/live/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
<script src="../javascripts/jstools/jquery-ui.min.js"></script>
<link href="../stylesheets/tools/jquery.page.css" rel="stylesheet">
<meta name="robots" content="noindex">
<link rel="shortcut icon" type="image/x-icon" href="//static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico">
<link rel="mask-icon" type="" href="//static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111"><link rel="canonical" href="https://codepen.io/jkiss/pen/OVEeqK">

<script src="../javascripts/jstools/jquery.page.js"></script>

<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/intro.css">
<!--===============================================================================================-->
</head>
<body>
<div class="page" data-jquery-page-name="1">

<div class = "intro_container">
		
		

	<div class = "left_half">	
		
	</div>
	<span class = "title_container_l">
			<h1 class = "title left"><br>trans&nbsp;</h1>
	</span>
	<span id ="left-arrow" class="triangle-left">login</span>
	<div class = "right_half">
		
	</div>
	<span class = "title_container_r">
			<h1 class = "title right"><br><span>&nbsp;mogrify</span></h1>
	</span>
	<span id ="right-arrow" class="triangle-right">start creating</span>

	<canvas id="left_particle" width="1346" height="465">
	</canvas>

</div> 

<div class="page" data-jquery-page-name="2">

</div>
		 

</div>


<script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../javascripts/particles.js"></script>
<script src = "../javascripts/intro.js"></script>
<script>
$(document).ready(function(){
	console.log("hi");
	init();
});

</script>

</body>
</html>