<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V7</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
	<script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
	<script src="../javascripts/jstools/jquery-ui.min.js"></script>
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/login.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="site">
		<div id="cube" class="panels-backface-invisible  show-front">
			<figure class="front">
				<div class="container-login">
						<div class="wrap-login p-t-90 p-b-30">
							<form class="login-form validate-form">
								<span class="login-form-title-1 p-b-40">
									login
								</span>
								<div>
									<a href="#" class="btn-login-with bg1 m-b-10">
										<i class="fa fa-facebook-official"></i>
										login with Facebook
									</a>
								</div>
								<div class = 'grow arrow-container-login'>
									Don't have an account? Create one!
									<i class="fa fa-long-arrow-right arrow-login grow " id='arrow-login'></i>
								</div>
								<div class="wrap-input validate-input m-b-16" data-validate="Please enter email: ex@abc.xyz">
									<input class="input" type="text" name="email" placeholder="email">
									<span class="focus-input"></span>
								</div>
							
								<div class="wrap-input validate-input m-b-20" data-validate = "Please enter password">
									<input class="input" type="password" name="pass" placeholder="password">
									<span class="focus-input"></span>
								</div>

								<div class="container-login-form-btn">
									<button class="login-form-btn">
										login
									</button>
								</div>
							</form>
						</div>
				</div>
			</figure>
			<figure class="right">
					<div class="page_1 limiter container-login">
							<div class="wrap-login p-t-90 p-b-30">
								<form class="login-form validate-form">
									<span class="login-form-title-2 p-b-40">
										this'll be quick, I promise
									</span>
									<div class="wrap-input validate-input m-b-20" data-validate = "Please enter a valid email address">
											<input class="input" type="text" name="fullname" placeholder="full name">
											<span class="focus-input"></span>
									</div>
									<div class = 'grow arrow-container-create-account'>
											was that an accident? <br> go back to login page
											<i class="fa fa-long-arrow-left arrow-create-account grow " id='arrow-create-account'></i>
									</div>
									<div class="wrap-input validate-input m-b-20" data-validate = "Please enter a valid email address">
											<input class="input" type="email" name="email" placeholder="email">
											<span class="focus-input"></span>
									</div>
									<div class="wrap-input validate-input m-b-20" data-validate = "Please enter password">
										<input class="input" type="password" name="pass" placeholder="password">
										<span class="focus-input"></span>
									</div>
									<div class="wrap-input validate-input m-b-20" data-validate = "Please enter password">
											<input class="input" type="password" name="pass" placeholder="password again">
											<span class="focus-input"></span>
									</div>
									<div class="container-login-form-btn">
										<button class="login-form-btn">
											sign up
										</button>
									</div>
								</form>
							</div>
					</div>
			</figure>
		</div>
	</div>
<!--===============================================================================================-->
	<script src="../javascripts/login.js"></script>		
	<script>
	$(document).ready(function(){
		docReady();
	});
	
	</script>

</body>
</html>