<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listen To This Image</title>
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/jstools/jquery-ui.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../stylesheets/tools/jquery-ui.min.css">

<!-- D75848	C15B4D	B84131	F19286	F1B8B1 D7B148	C1A34D	B89531	F1D586	F1E1B1  6B3690	643881	59257C	B57FDA	C4A3DA-->

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--W3-CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/myprofile.css">
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script language="text/javascript">
        function load_js()
        {
           var head= document.getElementsByTagName('head')[0];
           var script= document.createElement('script');
           script.type= 'text/javascript';
           script.src= '../javascripts/myprofile.js';
           head.appendChild(script);
        }
        load_js();
    </script>
</head>
<body class = "profile_body">
    <div class = "profile_page_container">
        <div id="profile_title_container"><h1 class="profile_title"> My <span> Profile </span></h1></div>

        <section class="profile_container">
            <div class = "profile_card_wrapper">
                <figure class="profile_card" id="profile_card" >
                    <div class="ACon profile_profile">
                    
                        <div class="profile_img" id = "profile_image1">
                            <span><img /></span>
                        </div>
                        <div class="profile_img" id = "profile_image2">
                            <span><img /></span>
                        </div>
                        
                        <figcaption id = "profile_profile-description">
                            <div class = "profile_profile-public">
                                <!-- Name -->
                                <h3 class ="profile_name" id = "profile_name">Joshua Crippinson</h3>
                                <!-- Profile Description -->
                                <h3>What I do <div class="glyphicon glyphicon-pencil"></div>  
                                    <span id = "profile_whatido"> Web Developer </span></h3>
                                <h3>About Me <div class="glyphicon glyphicon-pencil"></div> 
                                    <span id = "profile_aboutme">I really love cats I really love cats I really love cats </span>
                                </h3>
                                <span id="flip-profile-icon"><i class="icon-flipped fa fa-share" aria-hidden="true"></i></span>
                                
                            </div>
                            <div class = "profile_profile-settings">
                                <h5 class= "profile_profile-settings-type">Name</h5>
                                <h5 class= "profile_profile-settings-value">Josh Crippinson</h5>
                                <h5 class= "profile_profile-settings-type">Email Address</h5>
                                <h5 class= "profile_profile-settings-value" id="profile_email">josh@crippinson</h5>
                                <h5 class= "profile_profile-settings-type">Statistics</h5>
                                <h5 class= "profile_profile-settings-value">Likes & Listens</h5>
                                <br>
                                <h5 class= "profile_profile-settings-edit">RESET PASSWORD</h5>
                                <h5 class= "profile_profile-settings-edit">EDIT NAME     </h5>
                            </div>
                        </figcaption>
                    </div>
                </figure>
            </div>
        </section>
        
        
        <div class= "profile_gallery-wrapper">
            <div class= "profile_gallery-container">
                <div class="brick-wall">

                    <!-- IDEAL BRICK -->
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <!-- IDEAL BRICK -->
    
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                    
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "flipper">
                            <div class="front">
                                <img src="https://wheresthejump.com/wp-content/uploads/2015/06/It-Follows-1.jpg" class="brick-img" >
                            </div>
                            <div class="back">
                                <img src="https://robsmovievault.files.wordpress.com/2014/01/leon_the_professional_jean_reno_movie_stills-hd.jpg" class="brick-img" >
                            </div>
                        </div>
                        <div class = "brick_profile_img" >
                                <span><img /></span>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "flipper">
                            <div class="front">
                                <img src="http://trilbee.com/wp-content/uploads/2016/01/it-follows-5.png" class="brick-img" >
                            </div>
                            <div class="back">
                                <img src="http://blasphemoustomes.com/wp-content/uploads/2015/06/It-Follows-4-1024x427.png" class="brick-img" >
                            </div>
                        </div>
                        <div class = "brick_profile_img" >
                                <span><img /></span>
                        </div>
                    </figure>
                </div>
            </div>  
        </div>
    </div>
<script src="../javascripts/myprofile.js"></script>
<script>
    $(document).ready(function(){
        init();
    });    
 
</script>

</body>
</html>
