<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listen To This Image</title>
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/jstools/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/tools/jquery-ui.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/profile.css">
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <!-- Header script to reload js on embedded pages -->
    <script language="text/javascript">
        function load_js()
        {
           var head= document.getElementsByTagName('head')[0];
           var script= document.createElement('script');
           script.type= 'text/javascript';
           script.src= '../javascripts/profile.js';
           head.appendChild(script);
        }
        load_js();
    </script>
</head>
<body class = "profile_body">
    <div class = "profile_page_container">
        <div id="profile_title_container"><h1 class="profile_title"> Profile </h1></div>

        <section class="profile_container">
            <div class = "profile_card_wrapper">
                <figure class="profile_card" id="profile_card" >
                    <div class="ACon profile_profile">
                    
                        <div class="profile_img" id = "profile_image1">
                            <span></img></span>
                        </div>
                        <div class="profile_img" id = "profile_image2">
                                <div class="profile_upload-image-container 
                                            profile_upload-image-clearfix">
                                    <div class="profile_upload-image-avatar">
                                            <svg id="profile_upload-image-camera" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 25 15" enable-background="new 0 0 25 15" xml:space="preserve">
                                            <path id="profile_upload-image-cameraFrame" fill="none" stroke="white" stroke-miterlimit="10" d="M23.1,14.1H1.9c-0.6,0-1-0.4-1-1V1.9c0-0.6,0.4-1,1-1h21.2
                                                c0.6,0,1,0.4,1,1v11.3C24.1,13.7,23.7,14.1,23.1,14.1z"/>
                                            <path id="profile_upload-image-circle" fill="none" stroke="#ffffff" stroke-width="1.4" stroke-miterlimit="12" d="M17.7,7.5c0-2.8-2.3-5.2-5.2-5.2S7.3,4.7,7.3,7.5s2.3,5.2,5.2,5.2
                                                S17.7,10.3,17.7,7.5z"/>
                                            <g id="profile_upload-image-plus">
                                                <path fill="none" id="profile_upload-image-plusLine" class="profile_upload-image-line" stroke="#ffffff" stroke-linecap="round" stroke-miterlimit="10" d="M20.9,2.3v4.4"/>
                                                <path fill="none" class="profile_upload-image-line"stroke="#ffffff" stroke-linecap="round" stroke-miterlimit="10" d="M18.7,4.6h4.4"/>
                                            </g>
                                            </svg>
                                    </div>
                                </div>
                                <!-- <input id="profile_put_file"  type="file" /> -->
                        </div>
                        <figcaption id = "profile_profile-description">
                            <div class = "profile_profile-public">
              
                                <h3 class ="profile_name" id = "profile_name">Joshua Crippinson</h3>
             
                                <h3>What I do <div class="glyphicon glyphicon-pencil"></div>  
                                    <span id = "profile_whatido"> Web Developer </span></h3>
                                <h3>About Me <div class="glyphicon glyphicon-pencil"></div> 
                                    <span id = "profile_aboutme">I really love cats I really love cats I really love cats </span>
                                </h3>
                                
        
                            </div>
                        </figcaption>
                    </div>
                   
                    
                </figure>
            </div>
            
        </section>

        <div class="profile_icon_container">
            <div class = "profile_profile-icons">
                <div id ="profile_chat-btn-container" >
                    <div id = "profile_chat-btn">
                        
                    </div>
                </div>
                <img id = "profile_webcam-icon" src="../images/webcam.png" class="segment" >
            </div>
            <div class="profile_chatbox_container">

            </div>
        </div>

        <div class= "profile_gallery-wrapper">
            <div class= "profile_gallery-container">
                <div class="brick-wall">

                    <!-- IDEAL BRICK -->
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <!-- IDEAL BRICK -->
    
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                    
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="brick" 
                        data-username   = ""
                        data-date       = ""
                        data-file-id    = "">
                        <div class = "brick-img-audio-container">
                            <img  class = "brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                            <div class = "brick-audio"> 
                            </div>
                        </div>
                        <div class="player">
                            <div class="control-panel">
                                <div class="album-art brick_profile_img">
                                </div>
                                <div class="info-bar">
                                    <span class="artist">Flume</span>
                                    <span class="name">Say it</span>
                                    <div class="progress-bar">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="play-container pause">
                                        <i class="fa fa-play play pause" aria-hidden="true">
                                                
                                        </i> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    
                </div>
            </div>  
        </div>
    </div>
<script src="../javascripts/profile.js"></script>
<script>
    $(document).ready(function(){
        init();
    });    
 
</script>

</body>
</html>
