<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listen To This Image</title>
    <script src="./javascripts/jquery-3.2.1.min.js"></script>
    <script src="./javascripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/jquery-ui.min.css">

<!-- D75848	C15B4D	B84131	F19286	F1B8B1 D7B148	C1A34D	B89531	F1D586	F1E1B1  6B3690	643881	59257C	B57FDA	C4A3DA-->

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--W3-CSS-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/profile.css">
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
</head>
<body>
    <a class = "background"></a>
    <section class="container">
        <figure class="snip1344" id="card" >
            <div class=" ACon Profile">
                <div class="Img" id = "image">
                    <span><img /></span>
                </div>
                <div class="Img" id = "image2">
                    <span><img /></span>
                </div>
            </div>
            <figcaption id = "profile-description">
                <h3>Joshua Crippinson<span>Web Developer</span></h3>
            </figcaption>
        </figure>
    </section>


<script src="../javascripts/triangulate.min.js"></script>
<script>
    $(document).ready(function(){
    var $Menu = $('.Img');
    $("#card").toggleClass("flipped");
    $(".snip1344").css({"background-color":"white"});
    $(".snip1344").css({"background-color":"white"});
    $('#profile-description').hide();
    $('.Img').hide();
    $('.Img').fadeIn("slow");
    $('.Img').mouseenter(function() {
        $('.PopUp').css('opacity', '1');
        $('.PopUp').css('margin-top', '20px');
    });
    $('.Img').click(function() {
        $("#card").toggleClass("flipped", function(){
            $(".snip1344").css({"margin-right":"2000px"}).animate({"left":"10px"}, "slow");
            $(".snip1344").css({"margin-right":"2000px"}).animate({"top":"-30vh"}, "slow", function(){
                $('#profile-description').fadeIn('slow');
                $(".snip1344").animate({"background-color":"#141414"}, 'slow');
            });
        });
        $("#sidebar-horizontal").fadeIn("slow");
        var margin = "-2000px";
        
    });
    $('.Img').mouseleave(function() {
        $('.PopUp').css('opacity', '0');
        $('.PopUp').css('margin-top', '0px');
    })});
</script>

</body>
</html>
