<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="./javascripts/jquery-3.2.1.min.js"></script>
  <script src="./javascripts/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="./stylesheets/jquery-ui.min.css">
  <link rel="stylesheet" href="./stylesheets/sidepanel.css">
</head>
<body>

<div id="index" class="index-container">
  <div class="index-wrapper">
    <span>
      <a id="open_nav_button" style="font-size:30px;cursor:pointer" onclick="toggleNav()"> &#9776; </a>
    </span>
    <div id="index_content">
        <a class = "index_item" id = "index-item-0" href="#">About     </a>
        <a class = "index_item" id = "index-item-1" href="#">Services  </a>
        <a class = "index_item" id = "index-item-2" href="#">Clients   </a>
        <a class = "index_item" id = "index-item-3" href="#">Contact   </a>
    </div>
  </div>
</div>

<div id="main_content">

</div>
<script>

var nav_closed = false;

function toggleNav(){
   if(!nav_closed){
      openNav();
      nav_closed = true;
   }
   else {
      closeNav();
      nav_closed = false;
   }
}
 
function openNav() {
    var window_height = $(window).height(); 
    // $("#index_content").show();
    $(".index-container").animate({height:window_height}, "slow", function(){
      $(".index-container").animate({width:"15%"}, "slow", function(){
        slideIndexItems();
      });
      $(".open_nav_button").animate({width:"100%"}, "slow", function(){

      });
    });

}

function closeNav() {
    var window_height = $(window).height(); 
    // $("#index_content").hide();
    slideIndexItemsLeft();
    $(".index-container").animate({height:"9%"}, "slow", function(){
      $(".index-container").animate({width:"9%"}, "slow", function(){
      });
    });
   
  }

function slideIndexItems(){
  var len = $("#index_content").children().length; 
  console.log(len);
  for(var i = 0; i < len; i++){
    console.log("#index-item-" + i.toString());
    $("#index-item-" + i.toString()).show("slide", "swing", i * 500);
  }
}

function slideIndexItemsLeft(){
  var len = $("#index_content").children().length; 
  for(var i = 0; i < len; i++){
    $("#index-item-" + i.toString()).hide("slide", "swing", i * 500);
  }
}

</script>
     
</body>
</html> 
