<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="./javascripts/jquery-3.2.1.min.js"></script>
  <script src="./javascripts/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="./stylesheets/jquery-ui.min.css">
  <link rel="stylesheet" href="./stylesheets/sidepanel.css">
</head>
<body>




<div id="index" class="index-container">
  <div class="index-wrapper">
    <span class = "index-button-container" data-index-open="false">
      <div class='index-title' id="index_button" style="font-size:30px; cursor:pointer" onclick="toggleNav()">
          &#9776; Sidebar  
      </div>
    </span>
    <div id="index_content">
        <div class='wrapper'>
            <div class='sidebar'>
              <ul class='nav'>
                <li class = "index_item" href="#">
                  <a>Dashboard</a>
                </li>
                <li class = "index_item" href="#">
                  <a>Statistics</a>
                </li>
                <li class = "index_item" href="#">
                  <a class='active'>Milestones</a>
                </li >
                <li class = "index_item" href="#">
                  <a>Experiments</a>
                </li>
                <li class = "index_item" href="#">
                  <a>Previews</a>
                </li>
                <li class = "index_item" href="#">
                  <a>Assets</a>
                </li>
                <li class = "index_item" href="#">
                  <a>Profile</a>
                </li>
                <li class = "index_item" href="#">
                  <a>Logout</a>
                </li>
              </ul>
            </div>
          </div>
    </div>
  </div>
</div>

<div id="main_content">
    
</div>

<script>

///////////Insert Main Page/////////////
$("#main_content").load("../views/explore.html");
////////////////////////////////////////

function toggleNav(){
   if($(".index-button-container").attr("data-index-open") === "false"){
      openNav();
      $(".index-button-container").attr("data-index-open","true");
      $(".index-title").toggleClass("container-closed");
   }
   else {
      closeNav();
      $(".index-button-container").attr("data-index-open","false");
      $(".index-title").toggleClass("container-closed");
   }
}
 
function openNav() {
    var window_height = $(window).height();

    $("#main_content").fadeTo("slow", 0.5);

    $(".index-container").animate({height:window_height}, "slow", function(){
      $(".index-container").animate({width:"175px"}, "slow", function(){
        slideIndexItemsRight();
      });
      $(".index_button").animate({width:"100%"}, "slow");
    });

}

function closeNav() {
    var window_height = $(window).height(); 

    $("#main_content").fadeTo("slow", 1);

    slideIndexItemsLeft();
    $(".index-container").animate({height:"50px"}, "slow", function(){
      $(".index-container").animate({width:"60px"}, "slow");
    });
   
  }

function slideIndexItemsRight(){
  var len = $(".nav").children().length; 

  $(".index_item").each( function(index){
    $(this).show("slide", "swing", index * 300);
  });
}

function slideIndexItemsLeft(){
  var len = $(".nav").children().length; 
   $(".index_item").each( function(index){
    $(this).hide("slide", "swing", index * 300);
  });
}

closeNav();


</script>
     
</body>
</html> 
