<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' data: blob:; "/> -->
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
  <script src="../javascripts/jstools/jquery-ui.min.js"></script>
  <script src="../javascripts/audio_wave.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
  <link rel="stylesheet" href="../stylesheets/tools/jquery-ui.min.css">
  <link rel="stylesheet" href="../stylesheets/sidepanel.css">
  
</head>

<body class = "sidepanel_body">

  <div class="sidepanel_menu">
    <h3 class = "sidepanel_title">Transmogrify</h3>
    <!-- <h3 class = "sidepanel_title">
      the <br><span>image listener</span>
    </h3> -->
      <div class="sidepanel_menu-text">

        <h2 id="create_link" class="sidepanel_menu_link sidepanel_menu-link-left">Create</h2>
        <h2 id="explore_link" class="sidepanel_menu_link sidepanel_menu-link-mid">Explore</h2>
        <h2 id="profile_link" class="sidepanel_menu_link sidepanel_menu-link-right">Profile</h2>
        <h2 id="logout_link" class="sidepanel_menu_link sidepanel_menu-link-login">Logout</h2>
        <h2 id="chat_link" class="sidepanel_menu_link sidepanel_menu-link-left">Tempchat</h2>
      </div>

  </div>
  <div class="bar-split">
    <div>
      <nav class="nav">
        <div class="burger">
          <div class="burger__patty"></div>
        </div>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link c-blue"><i class="fa fa-camera-retro"></i></a>
          </li>
          <li class="nav__item">
            <a class="nav__link c-yellow scrolly"><i class="fa fa-bolt"></i></a>
          </li>
          <li class="nav__item">
            <a class="nav__link c-red"><i class="fa fa-music"></i></a>
          </li>
          <li class="nav__item">
            <a class="nav__link c-green"><i class="fa fa-paper-plane"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="sidepanel_index" class="sidepanel_index-container">
    <div class="sidepanel_index-wrapper">
    <span class = "sidepanel_index-button-container" data-index-open="false">
      <div class='sidepanel_index-title' id="sidepanel_index_button" style="font-size:30px; cursor:pointer" onclick="toggleNav()">
          <span></span>
          <span></span>
      </div>
    </span>
  </div>
  <div class = "friends-list">
      <div class="container">
        <div class="row">

          <div class="shadow">

            <div class="clearfix"></div>
            <div class=" friends-list_cell col-sm-12">
              <div class="friends-list_image col-sm-2">
                <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
              </div>
              <div class="col-sm-8">
                <h4 class="friends-list_name" >
                  <a data-friend-id='1' href="#">Rahul Jain</a>
                </h4>
                <p><a href="#">4 mutual friends</a></p>
              </div>

            </div>
            <div class="clearfix"></div>


            <div class="clearfix"></div>
            <div class=" friends-list_cell col-sm-12">
              <div class="friends-list_image col-sm-2">
                <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
              </div>
              <div class="col-sm-8">
                <h4 class="friends-list_name" ><a data-friend-id='2' href="#">Rahul Jain</a></h4>
                <p><a href="#">4 mutual friends</a></p>
              </div>

            </div>
            <div class="clearfix"></div>


            <div class="clearfix"></div>
            <div class=" friends-list_cell col-sm-12">
              <div class=" friends-list_image col-sm-2">
                <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
              </div>
              <div class="col-sm-8">
                <h4 class="friends-list_name" ><a data-friend-id='3' href="#"> Rahul Jain </a></h4>
                <p><a href="#"> 4 mutual friends </a></p>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class=" friends-list_title_cell col-sm-12">
                <div class="col-sm-12">
                    <h4 class="friends_list-title"> FRIENDS LIST </h4>
                </div>

            </div>
          </div>
        </div>
      </div>
  </div>
  <div class = "friends-chat-tab-wrapper">
    <div class = "friends-chat-tab">
      
    </div>
  </div>
</div>



<div class = "embedded_div">
  <div class = "embedded_container ">
    <div class = "embedded_main_content " id="embedded_main_content">
        <div class = "embedded_page-content"  id = "page_1">

        </div>
    </div>
  </div>
</div>
<script src="../javascripts/sidepanel.js"></script>
<script>var name = "<%= name %>";</script>
<script>

///////////Insert Main Page/////////////

////////////////////////////////////////
  $(document).ready(function(){

    init(name);
  });


</script>

</body>
</html>
