<!DOCTYPE html>
<html lang="en">
<head>
	<title>Audio Analysis Demo</title>
	<meta charset="utf-8">
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/webcam.css">
</head>
<body>

<div class="webcam_container">
    <video class = "webcam_video" id="localView" width="300" height="250" autoplay controls></video>
    <!-- <canvas id="canvas" width="400" height="400"></canvas> -->
    <video class = "webcam_video" id="remoteView" width="300" height="250" autoplay></video>

    <div class = "webcam_buttons">
        <button id="connect" style='color:black;'>Connect</button>
        <button id='offer'  style='color:black;'>Offer </button>
    </div>
</div>
<script>
    var url = new URL(window.location.href);
    var wsconnection;
    var localView = $('#localView');
    var remoteView = $('#remoteView');
    var localName = url.searchParams.get("user_id");
    var remoteName = "2";
    var config = {'iceServers': [{'urls': 'stun:stun.services.mozilla.com'}, {'urls': 'stun:stun.l.google.com:19302'}]};
    var RTCpc;

    RTCpc = new RTCPeerConnection(config);

    RTCpc.onicecandidate = function (event) {
       
        if(event.candidate) {
            wsconnection.send(JSON.stringify({
                message: event.candidate,
                data: remoteName
        }));}
        console.log("On Ice Candidate");
    }

    RTCpc.onaddstream = function(event){
        console.log("On Add Stream")
        remoteView.attr('src', window.URL.createObjectURL(event.stream));
    }

    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.webkitGetUserMedia({video: true}, function(stream){
            localView.attr('src', window.URL.createObjectURL(stream))
            RTCpc.addStream(stream);
            console.log("Local Stream Added");
        }, function(error){
            console.log(error)
        })
    }
    
    $('#offer').on('click', function(){
    
        sendOffer(remoteName);
    });
    
    //SOCKET
    url = 'ws://localhost:1338/connect'
    $('#connect').on('click', function(){
        
        wsconnection = new WebSocket(url);
        wsconnection.onopen = function(){
            console.log("Connected to websocket");
            wsconnection.send(JSON.stringify({message: 'localName', data: localName}))
        }
        wsconnection.onmessage = function(msg){
            var data = JSON.parse(msg.data);
            switch(data.message){
                case "offer":
                    console.log("Received offer from ws");
                    onOffer(data.data);
                    break;
                case "answer":
                    console.log("Received answer from ws");
                    onAnswer(data, name);
                    break;
                default:
                    if(data.candidate)
                        onCandidate(data, name);
                    break;
            }
        }
        function closeConnection(){
            if(wsconnection != undefined){
                wsconnection.send()
                wsconnection.close()
            }
        }
        wsconnection.onclose = function(){
            console.log("Connection closed")
        }
    })
    
    function sendOffer(name){
        remoteName = name;
        dataChannel = RTCpc.createDataChannel('sendDataChannel');
        RTCpc.createOffer(function(offer){
            wsconnection.send(JSON.stringify({
                message: 'offer',
                friend_id: name,
                data: offer
            }));
            RTCpc.setLocalDescription(offer); 
            console.log("Offer sent to server");
        }, function(error) {
            console.log(error);
        }) 
    }
    function sendAnswer(data, name){
        remoteName = name;
        RTCpc.createAnswer(function (answer) {
                wsconnection.send(JSON.stringify({
                    name: name,
                    type: answer
                }));
                RTCpc.setLocalDescription(answer);
            }, function(error){
                console.log(error)
            }
        );
    }
    function onAnswer(data, name){
        RTCpc.setRemoteDescription(new RTCSessionDescription(data))
    }
    
    RTCpc.oniceconnectionstatechange = function(){
        console.log(RTCpc.iceConnectionState)
    }
    
    
    function onOffer(data, name){
        alert("offer received")
        RTCpc.setRemoteDescription(new RTCSessionDescription(data));
        sendAnswer(data, name);
    }
    function onCandidate(data, name){
        console.log("ADDING CANDIDATE")
        RTCpc.addIceCandidate(new RTCIceCandidate(data));
        wsconnection.send(JSON.stringify({
                    name: name,
                    type: data.candidate
                }));
    }
</script>
</body>