<!DOCTYPE html>
<html lang="en">
<head>
	<title>Audio Analysis Demo</title>
	<meta charset="utf-8">
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/webcam.css">
</head>
<body>

<div class="webcam_container">
    <video class = "webcam_video" id="localView" width="300" height="250" autoplay controls></video>
    <!-- <canvas id="canvas" width="400" height="400"></canvas> -->
    <video class = "webcam_video" id="remoteView" width="300" height="250" autoplay></video>

    <div class = "webcam_buttons">
        <button id="connect">Connect</button>
        <button id='stream'> Disconnect </button>
    </div>
</div>
<script>
    var localView = $('#localView');
    var remoteView = $('#remoteView');
    var config = {'iceServers': [{'urls': 'stun:stun.services.mozilla.com'}, {'urls': 'stun:stun.l.google.com:19302'}]};
    var RTCpc;

    $('#check').on('click', function(){
        console.log(RTCpc.iceConnectionState)
    })
    
    $('#stream').on('click', function(){
        console.log((localView.find('source')).attr('src'))
    })
   
    console.log("START");
    RTCpc = new RTCPeerConnection(config);
    RTCpc.onicecandidate = function (event) {
        console.log(event)
        if(event.candidate) {
            wsconnection.send(JSON.stringify({
                type: event.candidate,
                name: remoteName
        }));}
        console.log("sent");
    }

    RTCpc.onaddstream = function(event){
        console.log("Stream added")
        console.log(event.stream)
        remoteView.attr('src', window.URL.createObjectURL(event.stream));
    
    }

    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        console.log("HI");
        navigator.webkitGetUserMedia({video: true}, function(stream){
            localView.attr('src', window.URL.createObjectURL(stream))
            console.log(localView)
            RTCpc.addStream(stream);
        }, function(error){
            console.log(error)
        })
    }
    
    var localName = "";
    var remoteName = "";
    var wsconnection;
    $('#sendOffer').on('click', function(){
        remoteName = $('#remoteName').val();
        sendOffer(remoteName);
    });
    
    //SOCKET
    url = 'http://localhost:3000/wc/connect'
    $('#connect').on('click', function(){
        localName = $('#localName').val();
        
        wsconnection = new WebSocket(url);
        wsconnection.onopen = function(){
            wsconnection.send(JSON.stringify({name: localName}))
        }
        wsconnection.onmessage = function(msg){
            var RTCmessage = JSON.parse(msg.data);
            var type = RTCmessage.type.type;
            var data = RTCmessage.type;
            var name = RTCmessage.name;
            console.log(data)
            switch(type){
                case "offer":
                    console.log(data)
                    onOffer(data, name);
                    break;
                case "answer":
                    onAnswer(data, name);
                    break;
                default:
                    console.log(data)
                    if(data.candidate)
                        onCandidate(data, name);
                    break;
            }
        }
        function closeConnection(){
            if(wsconnection != undefined){
                wsconnection.send()
                wsconnection.close()
            }
        }
        wsconnection.onclose = function(){
            console.log("Connection closed")
        }
    })
    
    function sendOffer(name){
        remoteName = name;
        dataChannel = RTCpc.createDataChannel('sendDataChannel');
        RTCpc.createOffer(function(offer){
            wsconnection.send(JSON.stringify({
                type: offer,
                name: name
            }));
            RTCpc.setLocalDescription(offer); 
            console.log("Offer sent to server");
        }, function(error) {
            console.log(error);
        }) 
    }
    function sendAnswer(data, name){
        remoteName = name;
        RTCpc.createAnswer(function (answer) {
                wsconnection.send(JSON.stringify({
                    name: name,
                    type: answer
                }));
                RTCpc.setLocalDescription(answer);
            }, function(error){
                console.log(error)
            }
        );
    }
    function onAnswer(data, name){
        RTCpc.setRemoteDescription(new RTCSessionDescription(data))
    }
    
    RTCpc.oniceconnectionstatechange = function(){
        console.log(RTCpc.iceConnectionState)
    }
    
    
    function onOffer(data, name){
        alert("offer received")
        RTCpc.setRemoteDescription(new RTCSessionDescription(data));
        sendAnswer(data, name);
    }
    function onCandidate(data, name){
        console.log("ADDING CANDIDATE")
        RTCpc.addIceCandidate(new RTCIceCandidate(data));
        wsconnection.send(JSON.stringify({
                    name: name,
                    type: data.candidate
                }));
    }
</script>
</body>