/* Global Colours */
:root {
  --clrRed:   #CD412B; /* Red Highlights*/
  --clrBack:  #202020; /* Black Background */
  --clrBox:   #303232; /* Dark Box */
  --clrTitle: #F6EAE1; /* Whitish Title */
  --clrText:  #948C87; /* Duller Text*/
  --clrOut:   #505050; /* Faint Outline*/
  /* --colour6: #BEEAF8; /* Lighter Blue */ 
}


.btn:focus, .upload-btn:focus{
    outline: 0 !important;
}

html, body {
    height: 100%;
}

body {
    background: var(--clrBack);
    /* background: linear-gradient(to top, #b19191 , #d5b6b6); */
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.row {
    border: solid;
    margin: auto;
    height: 100%;
    width: 100%;
}

.upload-btn {
    background-color: var(--clrBox);
    color: var(--clrText);
    border: solid;
    border-color: var(--clrText);

    margin-top: 30%;

    z-index: 1;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
    background-color: var(--clrBox);
    color: var(--clrTitle);
    border: solid;
    border-color: var(--clrTitle);
}

.convert-btn {
    display: none;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    opacity: 0.0;
    border: solid;
    z-index: 0;

    background-color: var(--clrBox);
    color: var(--clrOut);
    border: solid;
    border-color: var(--clrOut);
}

.convert-btn:hover {
    /* transition: 0.1s; */
    /* background-color: var(--clrBox); */
    color: var(--clrTitle);
    border: solid;
    border-color: var(--clrTitle);
}

.glyphicon {
    font-size: 5em;
    color: #9CA3A9;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20px;
    height: 20px;

}

#upload-input {
    display: none;
}

@media (min-width: 768px) {
    .main-container {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container1 {
        /* background: #5D3E3E; */
        /* min-width: 400px; */
        /* position: relative; */
        border-radius: 10px;
        opacity: 1.0;
        width: 100%;
        height: 100%;
    }
}

.home_container{
    min-width: 100px;
    padding-top: 1.8vh;
    height: 100%;
    width: 100%;
}

#bar-split {
    width: 100%;
    transform: translateY(-50%);
    height: 75px;
    background-color: var(--clrRed);
}

#wrap {
    min-width: 1000px;
    padding: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
}

#left, #right, #centre {
    min-width: 400px;
    background: var(--clrBox);
    color: var(--clrText);

    opacity: 0.7;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 400px;
    /* margin-left: 2%;
    margin-right: 2%; */
    padding: 20px;
}

#centre-convert {
    /* background: linear-gradient(to top, rgb(23, 25, 26) , rgb(43, 48, 50)); */
    position: relative;
    /* background: #997A7A; */
    opacity: 0.5;
    border-radius: 10px;
    display: inline-block;
    color: var(--clrText);

    width: 12%;
    height: 400px;
    padding: 20px;
}

#image_test{
    padding-top:2%;
    padding-bottom:2%;
    padding-left:2%;
    padding-right:2%;
    /* vertical-align: middle; */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateX(-50%); */
    max-width:100%;
    max-height:100%;
    /* margin: 0 auto; */
    /* z-index: 1; */
}
#image_test2{
    /* padding-top:5%;
    padding-bottom:5%;
    padding-left:5%;
    padding-right:5%; */
    /* vertical-align: middle; */
    position: absolute;
    right: 0%;
    top: 0%;
    /* transform: translateY(-50%); */
    max-width:100%;
    max-height:100%;
    /* margin: 0 auto; */
    /* z-index: 1; */
}

#audio_test{
    display: none;
    padding-top: 5%;
    padding-bottom: 5%;
}
#audio_display{
    padding-top: 50%;
}

#right:hover > p.image_title{
    transition: 2s;
    color: black;
}
#left:hover > p.image_title{
    transition: 2s;
    color: black;
}
#left:hover > {
    transition: 2s;
    color: black;
}
.home_arrow{
    font-size:100px;
}

#overlay1{
    position: relative;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    opacity: 0.0;
    background: #000000;
}

#overlay1:hover{
}
#overlay1:hover > #image_test{
    transition: 1s;
    opacity: 0.8;
}
#overlay1:hover > .convert-btn{
    transition: 2.5s;
    background-color: #000000;
    opacity: 1.0;
    z-index: 1;
}
/* #overlay1:hover > .convert-btn{
    transition: 3s;
} */

.progress{
    margin-top: 30%;
}

#progress-convert{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    padding: auto;
    width: 80%;

    border: solid;
    border-radius: 2px;
    border-color: var(--clrText);
    /* background-color: #; */
}
#progress-bar-convert{
    width: 0%;
    height: 30px;
    text-align: center;
    line-height: 30px;

    background-color: var(--clrText);
    color: var(--clrBack)
}


p.image_title{
    /* position:absolute; */
    /* border: solid; */
    font: 40px 'Open Sans', sans-serif;
    /*Title*/
    color: var(--clrTitle);
    font-weight: 300;
    letter-spacing: 0.5px;

    line-height: 1;
}
.create_title{
    /* position:absolute; */
    /* border: solid; */
    font: 60px 'Open Sans', sans-serif;
    /*Title*/
    color: var(--clrTitle);
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 1;
}

.audioTitle{
    font: 40px 'Open Sans', sans-serif;
    /*Title*/
    color: var(--clrTitle);
    font-weight: 300;
    letter-spacing: 0.5px;

    line-height: 1.6;
    padding-bottom: 20px;
}

.audioText{
    font: 14px 'Open Sans', sans-serif;

    color: var(--clrText);
    font-weight: 100;
    letter-spacing: 0.5px;

    line-height: 1.4;
}

#information-holder{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 38%;
    padding: auto;

    font: 14px 'Open Sans', sans-serif;

    color: var(--clrText);
    font-weight: 100;
    letter-spacing: 0.5px;
}
#conversion-infomation{
    display: none;
}
