.btn:focus, .upload-btn:focus{
    outline: 0 !important;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .row {
    margin-top: 80px;
  }
  
  .upload-btn {
    color: #ffffff;
    background-color: #F89406;
    border: none;
  }
  
  .upload-btn:hover,
  .upload-btn:focus,
  .upload-btn:active,
  .upload-btn.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
  }
  
  h4 {
    padding-bottom: 30px;
    color: #B8BDC1;
  }
  
  .glyphicon {
    font-size: 5em;
    color: #9CA3A9;
  }
  
  h2 {
    color: #68757E;
  }
  
  .panel {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #upload-input {
    display: none;
  }
  
  @media (min-width: 768px) {
    .main-container {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
        background:blue;
      width: 450px;
    }
  }

.home_container{
    padding-top:20vh;
}

#wrap {
    background: #e7e7e7;
    padding: 40px;
    text-align: center;
    width: 100%;  
}

#left, #right, #center {
     background: #ccc;
     display: inline-block;
     width: 600px;
     height:700px;
     margin-left: 5%;    
     margin-right: 5%;   
     padding: 20px;   
}

#image_test{
    vertical-align: middle;
    max-width:100%;
    max-height:100%;
    margin: 0 auto;
}

#right:hover > p.button_hover{
    transition: 2s;
    color: black;
}
#left:hover > p.button_hover{
    transition: 2s;
    color: black;
}
#left:hover > {
    transition: 2s;
    color: black;
}
.home_arrow{
    font-size:100px;
}

p.button_hover{
    font: 50px 'Open Sans', sans-serif;
    color: #ccc;
    font-weight: 300;
    letter-spacing: 0.5px;
  
    line-height: 1;
}
