
:root {
    --inset-color: rgb(193, 195, 199);
}


  
/* #4b3832 • #854442 • #fff4e6 • #3c2f2f • #be9b7b */
/* H1 @ Title font */
h1 { 
    color: #854442; 
    font-family:Georgia,serif;
    text-transform: none; font-weight: 100; margin-bottom: 0;
    font-size: 50px; 
    letter-spacing: 2px; 
    line-height: 5; 
    
    text-align: center; 
    padding-bottom: 1em;
}

.container{
    width: 80%;
}

/* Wrapper @ Wrapper around bricks container */
.wrapper {
    margin: 0em auto;
    max-width: 2200px;
    width: 100%;
}
  
img {
    vertical-align: middle;
    max-width: 100%;
}
  
/* Brick-wall @ Brick container */
.brick-wall {
    display: flex;
    flex-flow: row wrap;
    margin-left: 2em; /* Adjustment for the gutter */
    counter-reset: brick;
}

.brick {
    overflow: hidden;
    /* border-radius: 5px; */
    margin: 0 0 0px 0px;  /* Some Gutter */
    color: white;
    position: relative;
}

.brick:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5000;
    transform: translate(-50%, -50%);
    transition: font-size .25s, opacity .25s ease-in-out;
    font-weight: 700;
    opacity: .5;
    font-size: 1.25em;
  }
  
.brick:hover:after {
    font-size: 2.25em;
    opacity: 1;
}
  
.brick {
    flex: auto;
    height: 250px;
    min-width: 150px;
}
  
@media only screen and (min-width: 1024px) {
    /* Horizontal bricks on desktop-sized screen */
    .brick:nth-child(4n+1) {
      width: 250px;
    }
    .brick:nth-child(4n+2) {
      width: 325px;
    }
    .brick:nth-child(4n+3) {
      width: 180px;
    }
    .brick:nth-child(4n+4) {
      width: 380px;
    }
  
  }
  
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* Horizontal bricks on tabled-sized screen */
    .brick:nth-child(4n+1) {
      width: 200px;
    }
    .brick:nth-child(4n+2) {
      width: 250px;
    }
    .brick:nth-child(4n+3) {
      width: 120px;
    }
    .brick:nth-child(4n+4) {
      width: 280px;
    }
  
}
  
.brick-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    filter: grayscale(50%) sepia(0.3) brightness(150%) hue-rotate(320deg);
    -webkit-filter: grayscale(50%) sepia(0.3) brightness(150%) hue-rotate(320deg);
}

.labs-pagination {
    margin-bottom: 1.5rem;
    font-size: 12px;
}
  
.labs-page {
    text-transform: uppercase;
    display: inline-block;
    padding: .5em .75em;
    border: 2px solid #333;
}
  
.labs-page:hover,
.labs-page--current {
    color: rgba(255, 255, 255, .75);
}
  