

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
    --inset-color: rgb(193, 195, 199);

    --colour1: #0C090A; /* Black */
    --colour2: #BCC6CC; /* Silver */
    --colour3: #EBF4FA; /* Light Grey */
    --colour4: #FAFFFF; /* Off White */
    --colour5: #79BAEC; /* Blue */
    --colour6: #BEEAF8; /* Lighter Blue */
}
html {
    overflow-y: scroll;
}
explore_body {

}
/* #4b3832 • #854442 • #fff4e6 • #3c2f2f • #be9b7b */
/* H1 @ Title font */

.explore_body h1 {

}

.explore_container{
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-content: center;
}
.clear
{
    clear: both;
}
/* Wrapper @ Wrapper around bricks container */
.explore_wrapper {
    padding-left: 10%;
    padding-right:8%;
    width: 100%;
}

.explore_body img {
    top:0;
    vertical-align: middle;
    max-width: 100%;
} 

/* Josh's code */
.pair-wall {
    display: flex;
    position: relative;
    /* background: var(--colour2); */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.pair-border {
    position: relative;
    width: 18%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    /* border: 1px solid black; */
}

.pair-title {
    position: absolute;
    font-family:'Open Sans';
    font-size: small;
    top: 6px;
    width: 100%
}
.pair-info {
    position: absolute;
    font-family:'Open Sans';
    font-size: small;
    bottom: 6px;
    width: 100%
}
.pair-image {
    position: absolute;
    left: 6%;
    width:88%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    -webkit-animation-name: in-focus-reverse;
    -webkit-animation-duration: 1s;
}
.pair-audio {
    position: absolute;
    left: 6%;
    width:88%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    -webkit-animation-name: out-focus-reverse;
    -webkit-animation-duration: 1s;
}
.pair-border:hover .pair-image{
    -webkit-animation-name: in-focus;
    -webkit-animation-duration: 1s;
    /* 0% { opacity: 0.7;}
    100% {opacity: 1.0;} */
}
.pair-border:hover .pair-audio{
    -webkit-animation-name: out-focus;
    -webkit-animation-duration: 1s;
    /* 0% { opacity: 0.3;}
    100% {opacity: 0.0;} */
}

@-webkit-keyframes in-focus {
0% { opacity: 0.7;}
100% {opacity: 1.0;}
}
@-webkit-keyframes out-focus {
    0% { opacity: 0.3;}
    100% {opacity: 0.0;}
}
@-webkit-keyframes in-focus-reverse {
0% { opacity: 1.0;}
100% {opacity: 0.7;}
}
@-webkit-keyframes out-focus-reverse {
    0% { opacity: 0.0;}
    100% {opacity: 0.3;}
}



/* Min's Code */
/* Brick-wall @ Brick container */
.brick-wall {
    display: flex;
    flex-flow: row wrap;
    /* margin-left: 1em; Adjustment for the gutter */
    counter-reset: brick;
}

.brick {
    overflow: hidden;
    /* border-radius: 5px; */
    margin: 0 0 0px 0px;  /* Some Gutter */
    color: white;
    position: relative;
}

.brick:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5000;
    transform: translate(-50%, -50%);
    transition: font-size .25s, opacity .25s ease-in-out;
    font-weight: 700;
    opacity: .5;
    font-size: 1.25em;
  }

.brick:hover:after {
    font-size: 2.25em;
    opacity: 1;
}

.brick {
    flex: auto;
    height: 250px;
    min-width: 200px;
}

@media only screen and (min-width: 1024px) {
    /* Horizontal bricks on desktop-sized screen */
    .brick:nth-child(4n+1) {
      width: 250px;
    }
    .brick:nth-child(4n+2) {
      width: 325px;
    }
    .brick:nth-child(4n+3) {
      width: 180px;
    }
    .brick:nth-child(4n+4) {
      width: 380px;
    }

  }

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* Horizontal bricks on tabled-sized screen */
    .brick:nth-child(4n+1) {
      width: 200px;
    }
    .brick:nth-child(4n+2) {
      width: 250px;
    }
    .brick:nth-child(4n+3) {
      width: 120px;
    }
    .brick:nth-child(4n+4) {
      width: 280px;
    }

}

.brick-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(90%);

filter: grayscale(50%) sepia(0.3) brightness(150%) hue-rotate(320deg);
-webkit-filter: grayscale(50%) sepia(0.3) brightness(150%) hue-rotate(320deg);
}

.labs-pagination {
    margin-bottom: 1.5rem;
    font-size: 12px;
}

.labs-page {
    text-transform: uppercase;
    display: inline-block;
    padding: .5em .75em;
    border: 2px solid #333;
}

.labs-page:hover,
.labs-page--current {
    color: rgba(255, 255, 255, .75);
}
