

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
  --clrRed:   #CD412B; /* Red Highlights*/
  --clrBack:  #202020; /* Black Background */
  --clrBox:   #303232; /* Dark Box */
  --clrTitle: #F6EAE1; /* Whitish Title */
  --clrText:  #948C87; /* Duller Text*/
  --clrOut:   #505050; /* Faint Outline*/
  /* --colour6: #BEEAF8; /* Lighter Blue */ 
}
html {
    overflow-y: scroll;
}
h1.explore_title{ 
  margin: 0;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  font: 4em/1.5 'Open Sans', sans-serif;
  color: var(--clrText);
  font-weight: 800;
  padding-top: 50px;
  transform: translateY(-60px);
  -webkit-transition: -webkit-transform 3s ease;
  -moz-transition: -moz-transform 3s;
  -o-transition: -o-transform 3s;
    transition: transform 3s;
  line-height: 1;
}

.explore_title span {

	color: var(--clrTitle);
	font-weight: 300;
	margin-left: -7px;
}

.explore_body h1 {

}

.explore_container{
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #202020;
    width: 80%;
    min-width:1540px;
    align-content: center;
}
.clear
{
    clear: both;
}
/* Wrapper @ Wrapper around bricks container */
.explore_wrapper {
    padding-left: 17.5%;
    padding-right: 17.5%;
    width: 100%;
}

.explore_body img {
    top:0;
    vertical-align: middle;
    max-width: 100%;
}


.brick-wall {
  position:relative;
    display: flex;
    flex-flow: row wrap;
    counter-reset: brick;
    z-index: 10;
}

.brick {
    box-shadow: 2px 3px 50px #233237;
    border-radius: 5px;
    position: relative;
}

.brick:after {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    transition: font-size .25s, opacity .25s ease-in-out;
    font-weight: 700;
    opacity: .5;
    font-size: 1.25em;
  }

.brick {
    flex: auto;
    height: 200px;
    max-width: 500px;
    perspective: 1000;
    margin: 18px;
    margin-bottom:40px;
    border: 2px grey;
    -webkit-perspective: 1000;
}
.brick:hover{
    cursor:pointer;
}
.brick_profile_img{
    background: url('../images/profile_pictures/profiledefault.png');
    background-size: 37px 37px;
    z-index: 999;
    cursor: pointer;
    border:3px rgb(138, 108, 108) solid;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.brick_profile_img:hover{
    opacity: 1;
}
@media only screen and (min-width: 1024px) {
    /* Horizontal bricks on desktop-sized screen */
    .brick:nth-child(4n+1) {
      width: 250px;
    }
    .brick:nth-child(4n+2) {
      width: 325px;
    }
    .brick:nth-child(4n+3) {
      width: 180px;
    }
    .brick:nth-child(4n+4) {
      width: 380px;
    }

  }

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* Horizontal bricks on tabled-sized screen */
    .brick:nth-child(4n+1) {
      width: 200px;
    }
    .brick:nth-child(4n+2) {
      width: 250px;
    }
    .brick:nth-child(4n+3) {
      width: 120px;
    }
    .brick:nth-child(4n+4) {
      width: 280px;
    }

}

.player {
  position: absolute;
  bottom: -20%;
  width:100%;
  right:0;
  background-color: rgba(158, 150, 110, 0.1);
  background: linear-gradient(to left, rgba(216, 211, 187, 0.1), #202020);
  /* top: 0px; */
}
.player .info-bar {
  position: absolute;
  opacity: 0;
  left: 80px;
  top: 5px;
  transition: all 0.5s ease;
}
.player .info-bar .artist,
.player .info-bar .name {
  display: block;
}
.player .info-bar .artist {
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
}
.player .info-bar .name {
  color: rgb(44, 38, 38);
  font-size: 10px;
  margin-bottom: 8px;
}

.player .info-bar.active {
  opacity: 1;
  transition: all 0.5s ease;
  margin: auto;
}
.player .control-panel {
  position: relative;
  transition: 300ms all ease;
  background-color: rgba(255,255,255,0.0);
  border-radius: 5px;
  width: 100%;
  min-width:200px;
  height: 40px;
  z-index: 5;
}
.control-panel.active {
  /* background-color:  */
  background-color: whitesmoke;
  box-shadow: 0px 20px 20px 5px rgba(255, 254, 254, 0.3);
}
.player .control-panel .album-art {
  position: absolute;
  background-image: url('https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3513552/polybreno_1500.jpg');   /*  SET PROFILE IMAGE        */
  height: 42px;
  width: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0);
  transform: scale(1);
  transition: all 0.5s ease;
}

.player .control-panel .album-art::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 10px;
  height: 10px;
  opacity: 0;
  background-color: rgba(255,255,255,1);
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.player .control-panel .album-art::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
 
  opacity: 0;
}
.player .control-panel.active .album-art {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  transition: all 0.5s ease;
  opacity:  1;
}
.player .control-panel.active .album-art::before {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  animation-fill-mode: forwards;
  opacity:  1;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.player .control-panel .controls {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  text-align:center;
}

.player .control-panel .controls .play:hover {

  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease; 
}

.player .control-panel .controls .play-container {
  position: absolute;
  font-size: 2em;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #141414;
  padding: 0px 0px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  right: 0;
  transition: all 0.7s;
}
.player .control-panel .controls .play-container.pause {
  opacity: 0.7;
}
.player .control-panel .controls .play-container:hover {
  opacity: 1;
}

.play-container .play {
  position:absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.7s;
  border: 5px solid #198f01;
  color: #198f01;
  padding: 3px 0 0 5px;
  right: 0px;
  opacity: 1;
}

.play-container.pause .play {
  transition: all 0.7s;
  color: #a91616;
  border: 5px solid #7a0e06;
  opacity: 0.7;
} 
.play-container.pause .play:hover {
  transition: all 0.7s;
  opacity: 1;
} 
.brick-img-audio-container{
  position: absolute;
  height: 100%;
  width: 100%;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.02); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.01); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}
.brick-img-audio-container.animate_gradient{
  background: linear-gradient(22deg, #16c89a, #ffc404, #c85d16, #c8163c, #09e490, #e8e0d9);
  background-size: 3000% 3000%;
  background-position: bottom;
  -webkit-animation: pulse_animation  0.2s ease infinite, AnimationName 4s ease infinite;
  -moz-animation: pulse_animation  0.2s ease infinite, AnimationName 4s ease infinite;
  animation: pulse_animation  0.2s ease infinite, AnimationName 4s ease infinite;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.brick-img-audio-container.animate_gradient > .brick-img{
  transition: all 1s;
  opacity:0.90;
}


.brick-img {
  object-fit: cover;
  width: 100%;
  height: 102%;   
  opacity: 1;
}

.brick-audio{
  position:absolute;
  width:100%;
  height:40%;
  bottom:40%;
}
.brick-pulse{
  z-index: 999;
  position:absolute;
  width:100%;
  height:100%;
  top:50%;
}
.explore_feed {
  width: 80%;
  height: 100vh;
  position: absolute;
  min-width: 1450px;
  top: 216px;
  z-index: 0;
}
.explore_feed_container{
  position:absolute;
  width:400px;
  right: 5%;
}

.explore_feed_recommended{
  margin: 0 auto;
  position:relative;
  width: 75%;

}
.explore_feed_recommended_title{
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 2px solid grey;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font: 1.5em 'Open Sans', sans-serif;
  color: var(--clrText);
  font-weight: 800;
  padding-top: 10px;
	line-height: 1;
}

.explore_recommended_user{
  margin-top:20px;
  margin-bottom:20px;
  width: 100%;
  height: 50px;
}

.explore_recommended_user .explore_recommended_image{
  position:relative;
  float:left;
  height:100%;
}
.explore_recommended_image img{
  height:100%;
}

.explore_recommended_name{
  position:relative;
  margin-left: 70px;
  padding-top:10px;
}