/* Global Colours */
:root {
  /* --colour1: #E5E4E2;
  --colour2: #8DC6EF;
  --colour3: #659EC7;
  --colour4: #2B65EC;
  --colour5: #000000; */
  --colour1: #0C090A; /* Black */
  --colour2: #BCC6CC; /* Silver */
  --colour3: #EBF4FA; /* Light Grey */
  --colour4: #FAFFFF; /* Off White */
  --colour5: #79BAEC; /* Blue */
  --colour6: #79BAFC; /* Blue */
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--colour4);
}


@font-face{
  font-family: BebasNeue;
  src: url("path/BebasNeue Bold.otf") format("opentype");
}
.jumbotron {
  text-align: center;
  background-color: var(--colour4);
}
.button-default {
  width: 100px;
  height: 40px;
}
h1 {
  font-family: BebasBeue;
}
input {
resize: horizontal;
}
input:active {
 width: auto;
}

div.OMC_post_wrapper {
  position: fixed;
  z-index: 1;
  width: 50vh;
  height: 25vh;
  margin-left: -25.5vh;
  margin-bottom: -7.5vh;
  bottom: 25%;
  left: 50%;
  border: 1px solid black;
  background-color: #111111;
  text-align: center;

}
div.OMC_post_input {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}
placement1 {
    position: relative;
    top: 5px;
}
placement2 {
    position: relative;
    top: 25%;
}



/* Popup container - can be anything you want */
.col-cell .popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }


.buttonRow {
    display: flex;
    flex-flow: row;
    /* align-items: center; */
    justify-content: center;
}

/* Messing about with buttons */
.button {
    /* background-color: var(--colour2); /* Light Blue */ */
    color: var(--colour1);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40vh;
    height: 40vh;
    font-size: 16px;
    border: 2px solid var(--colour4);
    border-radius: 10px;
}
.button:hover {
    -webkit-transition: initial;
    transition: initial;
    background-color: var(--colour3);
    color: var(--colour5);
}
.gradient {
    background-image: linear-gradient(to right, var(--colour5) 0%, var(--colour6) 100%) ; /* Light Blue */
}


.button-arrow {
    background-color: var(--colour4); /* Light Blue */
    border: none;
    color: var(--colour1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    width: 15%;
    height: 15%;
    top: 10vh;
    font-size: 16px;
    border-radius: 10px;

}
.button-arrow:hover {
    -webkit-transition: initial;
    transition: initial;
    filter: invert(30%);
    /* background-color: var(--colour2); */

}

.button-help {
    background-color: var(--colour5);
    padding: 2px 2px;
    position: absolute;;
    /* text-align: right; */
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 5vh;
    height: 5vh;
    font-size: 16px;
    /* border: 2px solid var(--colour4); */
    border-radius: 25px;
}
pulsing {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@-webkit-keyframes pulse {
    0% { filter: invert(0%); }
    50% { filter: invert(50%);}
    100% { filter: invert(0%);}
}
