/* Global Colours */
:root {
  --colour1: #E5E4E2;
  --colour2: #8DC6EF;
  --colour3: #659EC7;/* Light Blue */
  --colour4: #2B65EC;
  --colour5: #000000;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--colour1);
}

@font-face{
  font-family: BebasNeue;
  src: url("path/BebasNeue Bold.otf") format("opentype");
}
.jumbotron {
  text-align: center;
  background-color: var(--colour1);
}
.button-default {
  width: 100px;
  height: 40px;
}
h1 {
  font-family: BebasBeue;
}
input {
resize: horizontal;
}
input:active {
 width: auto;
}

div.OMC_post_wrapper {
  position: fixed;
  z-index: 1;
  width: 50vh;
  height: 25vh;
  margin-left: -25.5vh;
  margin-bottom: -7.5vh;
  bottom: 25%;
  left: 50%;
  border: 1px solid black;
  background-color: #111111;
  text-align: center;

}
div.OMC_post_input {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* Popup container - can be anything you want */
.col-cell .popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.buttonRow {
    display: flex;
    flex-flow: row;
    /* align-items: center; */
    justify-content: center;
}

/* Messing about with buttons */
.button {
    /* background-color: var(--colour2); /* Light Blue */ */
    color: var(--colour1);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    font-size: 16px;
    /* border: 2px solid var(--colour4); */
    /* border-radius: 10px; */
}
.button:hover {
    -webkit-transition: initial;
    transition: initial;
    background-color: var(--colour1);
    color: var(--colour4);
}
.gradient {
    background-image: linear-gradient(to right, var(--colour2) 0%, var(--colour3) 100%) ; /* Light Blue */
}


.button-arrow {
    background-color: var(--colour1); /* Light Blue */
    border: none;
    color: var(--colour1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 15%;
    font-size: 16px;
    border-radius: 10px;
}
.button-arrow:hover {
    -webkit-transition: initial;
    transition: initial;
    background-color: var(--colour2);
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
