body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111111;
}


@font-face{
  font-family: BebasNeue;
  src: url("path/BebasNeue Bold.otf") format("opentype");
}
.jumbotron {
  text-align: center;
}
button {
  width: 100px;
  height: 40px;
}
h1 {
  font-family: BebasBeue;
}

/* Popup container - can be anything you want */
.col-cell .popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

