  
@import "compass/css3";
:root {
    --clrRed:   #CD412B; /* Red Highlights*/
    --clrBack:  #202020; /* Black Background */
    --clrBox:   #303232; /* Dark Box */
    --clrTitle: #F6EAE1; /* Whitish Title */
    --clrText:  #948C87; /* Duller Text*/
    --clrOut:   #505050; /* Faint Outline*/
    /* --colour6: #BEEAF8; /* Lighter Blue */ 
}
  
body{
    background: rgb(208, 206, 205);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow:hidden;
}  
.intro_container{
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    min-width:1300px;
}

.left_half{
    position: fixed;
    float: left;
    top:0;
    height: 100%;
    width: 100%;
    left:-50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0,0,0,0.15) 100%), 
    radial-gradient(at top center, rgba(0, 0, 0, 0.4) 0%, rgba(0,0,0,0.40) 120%) 
    #222121; 
    background-blend-mode: multiply,multiply;
    opacity: 1;
    z-index: -1;
}

.left_half.fade_left{
    transition: all 2s;
    background: #202020;
}

.left_particle{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.right_particle{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.right_half{
    position: fixed;
    float: right;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: -1;
}
h1.title{ 
    display: inline-block;
    position:absolute;
    top: 15vh;
    font: small-caps 10em/1.5 'Open Sans', sans-serif;
    z-index:999;
    color: #202020;
    font-weight: 600;
    margin: 0 0 1.5em;
    line-height: 1;
   
    -webkit-transition: -webkit-transform 2s ease;
    -moz-transition: -moz-transform 2s;
    -o-transition: -o-transform 2s;
        transition: transform 2s;
    text-shadow: 0 0 6px white; 

}
.title.left{
    position: absolute;
    display:inline-block;
    transition: transform 2s;
    color:rgb(173, 68, 27);
    right:50.5%;
}
.title.right{
    position: absolute;
    display:inline-block;
    transition: transform 2s;
}
.title.left span {
    color: rgb(196, 73, 16);
}
.title.left.slide_down{
    transform: translateY(2000px);
}
.title.right.slide_down{
    transform: translateY(2000px);
}
.title.right{
    left:50.5%;
}
.title.right.selected > span{
    transition: all 2s;
    color: var(--clrRed);
}
.title.left.selected > span{
    transition: all 2s;
    color: var(--clrRed);
}
.title span {
    display: inline-block;
    color: #373737;
    text-shadow: 0 0 12px rgb(12, 12, 12);
    font-weight: 300;
    margin-left: -7px;
}
.triangle-right {
    position: absolute;
    display:inline-block;
    right:5%;
    top: 25vh;
	width: 150px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(14, 13, 10);
    backdrop-filter: blur(55px);
    padding: 0 auto;
    padding-bottom:10px;
    border-radius: 5px;
    font: small-caps 2em/1.5 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 1000;
    text-shadow: 0 0 2px rgb(29, 28, 28); 
    line-height: 1;
    box-shadow: 0px 0px 2px 2px rgb(82, 82, 82);

}
.triangle-left { 

    background-color: rgba(41, 41, 41, 0.2);
    -webkit-backdrop-filter: invert(70%);
    backdrop-filter: invert(70%);
    z-index:0;
    border-radius: 5px;
    position: absolute;
    display:inline-block;
    left:5%;
    top: 60vh;
	width: 150px;
    height: 60px;
    padding: 0 auto;
    padding-bottom:10px;
    color: white;
    font: small-caps 2em/1.5 'Open Sans', sans-serif;
    text-align: center;
    
    text-shadow: 0 0 2px rgb(255, 255, 255); 
    font-weight: 800;
    line-height: 2;
    box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);

}
.triangle-left:hover{
    cursor: pointer;
}
.triangle-right:hover{
    cursor: pointer;
}