:root {
  --clrRed:   #CD412B; /* Red Highlights*/
  --clrBack:  #202020; /* Black Background */
  --clrBox:   #303232; /* Dark Box */
  --clrTitle: #F6EAE1; /* Whitish Title */
  --clrText:  #948C87; /* Duller Text*/
  --clrOut:   #505050; /* Faint Outline*/
  /* --colour6: #BEEAF8; /* Lighter Blue */ 
}
.profile_body{
  all:initial;

  background:var(--clrBack);
}

element{
    --filterVal: 180;
}
@media all and (max-width: 30em) {
    /* Alternative narrow styles */
}
#profile_title_container{
  position: absolute;
  width: 100%;
}
h1.profile_title{ 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  display: inline-block;
  position:relative;
  font: 6em/1.5 'Open Sans', sans-serif;
  color: #F6EAE1;
  /* margin: auto; */
  left: 42%;
  font-weight: 800;
  line-height: 1;
  transform: translateY(90px);
  -webkit-transition: -webkit-transform 2s ease;
  -moz-transition: -moz-transform 2s;
  -o-transition: -o-transform 2s;
    transition: all 2s;
}

.profile_title span {
  color: #948C87;
  font-weight: 300;
  margin-left: -7px;
}

.profile_title.profile_title_top{
  transform: translateY(0);
  -webkit-transform: translateY( -350px );
  -moz-transform: translateY( -350px );
    -o-transform: translateY( -350px );
       transform: translateY( -350px );

}
.profile_title.profile_title_middle{
  transform: translateY(0);
  -webkit-transform: translateY( 200px );
  -moz-transform: translateY( 200px );
    -o-transform: translateY( 200px );
       transform: translateY( 200px );
}

.profile_profile{
    z-index: 999;
    text-align:center;
    -webkit-transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
    -moz-transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
    transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width:90%;
}

.profile_img{
    /* background-size:contain; */
    z-index: 999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition:cubic-bezier(.34,.43,0,1.02) 0.2s;
    -moz-transition:cubic-bezier(.34,.43,0,1.02) 0.2s;
    transition:cubic-bezier(.34,.43,0,1.02) 0.2s;
    box-shadow: 0px 0px 0px 2pt transparent;
    border: 0px solid #FFF;
    margin: 15px 15px;
    cursor: pointer;
    width:175px;
    height:175px;
    /* text-align: center; */
    position: absolute;
    /* backface-visibility: hidden; */
}

#profile_profile-description{
  background:#303232;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
  display: inline-block;
  padding-top:200px;
  position:relative;
  width: 100%;
}
.profile_container { 
    width:100%;
    min-width:1200px;
    height:200px;
    position: relative;
    perspective: 800px;
    margin-right:100px;
}
.profile_card_wrapper{
  position:relative;
  width:14.5%;
}
#profile_card{
    position: relative; 
    /* display: inline-block; */
    transform-origin: right center;
    transform-style: preserve-3d;
    transition: transform 1.4s;  
}
#profile_card #profile_image1 {
    
}
#profile_card #profile_image2 {
    transform: rotateY( 360deg );
    filter:sepia(0.5)  ;
    -webkit-filter:  sepia(0.5) ;
}
#profile_card.flipped {
    transition: all 1.4s;
    transform: translateX( 0% ) rotateY( -360deg );
}

.profile_card {
  position:relative;
  font-family: 'Open Sans', Arial, sans-serif;
  float: left;
  overflow: visible;
  /* padding-top:30px; */
  margin-top:300px;
  min-width: 230px;
  height: 280px;
  margin-left:20%;
  width: 60%;
  left:295%;
  line-height: 1.4em;
  background-color: #303232;
  -webkit-transition:background 3s;
  -moz-transition:background 3s;
  -o-transition:background 3s;
  transition:background 3;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
}

.profile_card.flipped {
  background:none;
}
.profile_card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.profile_card .backdrop {
  position:absolute;
  width: 100%;
  right:0%;
  height: 100%;
  opacity: 0.2;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.profile_card figcaption {
  width: 100%;
  padding: 15px 25px;
  position: relative;
  left: 0;
}

.profile_card h3 {
  font-size: 15px;
  margin: 10px 0 5px;
  font-weight: 400;
  color: rgb(201, 198, 198);
}
.profile_card h3.profile_name{
  text-align:center;
  font-size:16px;
  font-weight:500;
  margin-bottom:30px;
}
.profile_card h3 span {
  display: block;
  margin-top:3px;
  font-size: 13px;
  color: #f39c12;
  opacity: 0.75;
} 
.profile_card i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  text-align: center;
  opacity: 0.65;
} 
.profile_card a {
  text-decoration: none;
}
.profile_card i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.profile_card:hover .backdrop,
.profile_card.hover .backdrop {
  -webkit-transform: scale(1);
  transform: scale(1);
} 

#profile_webcam-icon{
    position: absolute;
    background-position: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 44px;
    line-height: 54px;
    vertical-align: text-bottom;
    width: 44px;
    right: 52px;
    top: 10px;
}
#profile_webcam-icon:hover{
    cursor: pointer;
    filter: sepia(0.3) brightness(100%) hue-rotate(220deg);
    -webkit-filter: sepia(0.3) brightness(100%) hue-rotate(220deg);
}

.profile_profile-icons{
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top:5px;
    left: 0;
    background-color: #141414;
}

#profile_chat-btn {
    width: 40px;
    height: 28px;
    background-color:  rgb(117, 183, 199);
    border-radius: 4px;
    position: relative;
    margin-left: 20px;margin-top:5px;  
    left: 35px;
    top: 11px;
}

#profile_chat-btn:hover {
    filter: sepia(0.3) brightness(100%) hue-rotate(220deg);
    -webkit-filter: sepia(0.3) brightness(100%) hue-rotate(220deg);
    cursor: pointer;
}

#profile_chat-btn:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      right: 10px;
      bottom: -10px;
      border-left: 10px solid transparent;
      border-right: 2px solid transparent;
      border-top: 10px solid #62CFC1;
}

.profile_upload-image-container {
  left: 57.5%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transition: translate3d(-50%, 0%, 0);
  position: absolute;
  width:100%;
  height: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}
  
.profile_upload-image-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  /* height: 0; */
  visibility: hidden;
}

.profile_upload-image-clearfix {
  display: inline-block;
}

.profile_upload-image-clearfix {
  display: block;
}

.profile_upload-image-avatar {
  display: inline-block;
  overflow: hidden;
  width: 175px;
  height: 175px;
  border-radius: 100%;
  background: #C68587;
  border: 6px solid #B3C9CB;
  background-size: 165px 165px;
  background-repeat:no-repeat;
  background-position: 25% 25%;
  transition: border 0.5s linear;
}

#description_box{
  padding-top:4px;
  padding-bottom:4px;
  position: relative;
  width: 100%;
  border-radius: 3px;
}
#occupation_box {
  padding-top:4px;
  padding-bottom:4px;
  position: relative;
  width: 100%;
  border-radius: 3px;
}
.editable {
  border:2px solid #7e5201;
  box-shadow: inset 0 0 10px #555;
}


.box:hover .edit {
  opacity: 1;
}

.profile_upload-image-avatar:after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f0e3c7), color-stop(100%, #6bcab4));
  width: 175px;
  height: 175px;
  border-radius: 100%;
  border: 1px solid white;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
  transform-origin: right center;
  transform-style: preserve-3d;
}
.profile_upload-image-avatar.profile_avatar{
  width: 175px;
  height: 175px;
  display: inline-block;
  overflow: hidden;
}

.profile_upload-image-avatar:hover:after {
  opacity: 0.7;
}

.profile_upload-image-avatar.open:hover:after {
  opacity: 0;
}

#profile_upload-image-camera {
  -webkit-transform: scale(0.4);
  position: relative;
  z-index: 0;
  cursor: pointer;
  top: 18%;
  overflow: hidden;
}

#profile_upload-image-camera {
  transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
}

#profile_upload-image-cameraFrame {
  -webkit-transition: all 0.5s linear;
  stroke-dashoffset: 72px;
  stroke-dasharray: 72px;
}

#profile_upload-image-circle {
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 33px;
  stroke-dasharray: 33px;
}

#profile_upload-image-plus {
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 5px;
  stroke-dasharray: 5px;
}

.profile_upload-image-separatorLine {
  margin-top: 15px;
  width: 300%;
  position: absolute;
  height: 1px;
  background: rgba(0, 0, 0, 0.6);
}
#profile_get_file{
  display:none;
}
#profile_put_file{
  display:none;
}
#profile_image-upload-dummy{
  position:absolute;
  width:100%;
  height:100%;
}
.profile_upload-image-avatar:hover  #profile_upload-image-camera > #profile_upload-image-cameraFrame {
  stroke-dashoffset: 0;
}

.profile_upload-image-avatar:hover  #profile_upload-image-camera > #profile_upload-image-circle {
  stroke-dashoffset: 0px;
}

.profile_upload-image-avatar:hover  #profile_upload-image-camera > #profile_upload-image-plus {
  stroke-dashoffset: 0px;
}

.profile_upload-image-avatar:active  #profile_upload-image-camera > #cprofile_upload-image-ameraFrame {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0.7);
}

.profile_upload-image-avatar:active  #profile_upload-image-camera > #profile_upload-image-circle {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0.7);
}

.profile_upload-image-avatar:active  #profile_upload-image-camera > #profile_upload-image-plus {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0);
}

.profile_upload-image-avatar.open  #profile_upload-image-camera {
  -webkit-transform: scale(0);
  fill: white;
}

.profile_upload-image-avatar.open  #profile_upload-image-openModal {
  -webkit-transform: scale(0.95);
}

.profile_upload-image-avatar.open  #profile_upload-image-camera {
  visibility: hidden;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.profile_gallery-wrapper {
    top: 300px;
    position:absolute;
    height: 100%;
    left: 20%;
    margin-right: 20%;
    margin-left: 350px;
    min-width: 500px;
    text-align:center;
}
h2.profile_gallery-title{ 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font: 7em/1.5 'Open Sans', sans-serif;
  color: #67708f;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1;

  margin-bottom: 20px;
}


.profile_gallery span {
  font: 1.2em/1.5 'Open Sans', sans-serif;
  color: #999cbd;
  font-weight: 800;
  margin-left: -7px;
  padding-left:20%;
}

.profile_gallery-container{
    position:relative;
    width: 100%;
    height: 100%;
    min-width:600px;
}
.profile_page_container{
    min-width:1200px;
    width: 100%;
    height: 100vh;
    position:relative;
}

.profile_profile-settings{
  width: 100%;
  height: 110%;
  position:absolute;
  left: 0;
  z-index:-1;
  background:var(--clrBox);
  padding-left: 10%;
}
h5.profile_profile-settings-type{
  color: rgb(218, 161, 4);
  text-align:left;
  left: 0;
  font-size:12px;
}

h5.profile_profile-settings-value{
  color: rgb(235, 229, 209);
  text-align:left;
  left: 0;
  font-size:12px;
}

h5.profile_profile-settings-edit{
  width:100%;
  color: rgb(218, 161, 4);
  text-align:left;
  left: 0;
  font-size:12px;
}
.profile_profile-settings-edit:hover{
  transition:1s;
  cursor: pointer;
  color:rgb(216, 214, 207);
  background-color:rgb(84, 84, 84);
}

.profile_profile-public{
  height: 110%;
  width: 100%;
  padding: 5%;
  position:absolute;
  left: 0;
  background:var(--clrBox);
  padding-bottom:30px;
}
/* //////////////////////////////////////////////////////// */


.myButton {
  position:absolute;
  height: 30px;
  width:80px;
  right: 0;
  top: 285px;
  background-color: #292523;
  background-image: -webkit-gradient(linear,left top,left bottom,
                    color-stop(0rgb(24, 24, 23)2b),color-stop(1, #4b4b4a));
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px; 
  border-top-color: #C6F17A;
  border-bottom-color: black;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-box-shadow: 0 -5px 30px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 -5px 30px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 -5px 30px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  color: white;
  display: block;
  font-size: 16px !important;
  font-family: 'Open Sans', sans-serif;
  line-height: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
}.myButton:hover {
  background-color:#856f6f;
  }.myButton:active {
  position:relative;
  top:1px;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.brick-wall {
  padding:0;
  margin:0;
    display: flex;
    flex-flow: row wrap;
    /* margin-left: 1em; Adjustment for the gutter */
    counter-reset: brick;
}

.brick {
    box-shadow: 2px 3px 50px #233237;
    border-radius: 5px;
    position: relative;
}

.brick:after {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 5000;
    transform: translate(-50%, -50%);
    transition: font-size .25s, opacity .25s ease-in-out;
    font-weight: 700;
    opacity: .5;
    font-size: 1.25em;
  }

.brick {
    flex: auto;
    height: 150px;
    min-width: 150px;
    perspective: 1000;
    margin: 18px;
    border: 2px grey;
    -webkit-perspective: 1000;
}
.brick:hover{
    cursor:pointer;
}
.brick_profile_img{
    background: url('https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3513552/polybreno_1500.jpg');
    background-size: contain;
    z-index: 9999;
    cursor: pointer;
    top:85%;
    left:0;
    width:60px;
    height:60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:3px rgb(138, 108, 108) solid;
    text-align: center;
    position: absolute;
    opacity: .7;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.brick_profile_img:hover{
    opacity: 1;
}
@media only screen and (min-width: 1024px) {
    /* Horizontal bricks on desktop-sized screen */
    .brick:nth-child(4n+1) {
      width: 250px;
    }
    .brick:nth-child(4n+2) {
      width: 325px;
    }
    .brick:nth-child(4n+3) {
      width: 180px;
    }
    .brick:nth-child(4n+4) {
      width: 380px;
    }

  }

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* Horizontal bricks on tabled-sized screen */
    .brick:nth-child(4n+1) {
      width: 200px;
    }
    .brick:nth-child(4n+2) {
      width: 250px;
    }
    .brick:nth-child(4n+3) {
      width: 120px;
    }
    .brick:nth-child(4n+4) {
      width: 280px;
    }

}

.brick-img {
    object-fit: cover;
    width: 100%;
    height: 100%;   
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    border-radius: 2%;
    filter: grayscale(50%) sepia(0.3) brightness(150%) hue-rotate(320deg);
    -webkit-filter: grayscale(50%) sepia(0.3) brightness(150%) hue-rotate(320deg);
}


.player {
  position: absolute;
  bottom: -10%;
  width:100%;
  right:0;
  /* top: 0px; */
}
.player .info-bar {
  position: absolute;
  opacity: 0;
  left: 80px;
  top: 5px;
  transition: all 0.5s ease;
}
.player .info-bar .artist,
.player .info-bar .name {
  display: block;
}
.player .info-bar .artist {
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
}
.player .info-bar .name {
  color: rgb(44, 38, 38);
  font-size: 12px;
  margin-bottom: 8px;
}
.player .info-bar .progress-bar {
  background-color: rgba(220,220,220,0.8);
  height: 4px;
  width: 150px;
  position: relative;
}
.player .info-bar .progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  width: 10%;
  transition: all 0.2s ease;
}
.player .info-bar.active {
  opacity: 1;
  transition: all 0.5s ease;
  margin: auto;
}
.player .control-panel {
  position: relative;
  transition: 300ms all ease;
  background-color: rgba(255,255,255,0.0);
  border-radius: 5px;
  width: 100%;
  min-width:200px;
  height: 60px;
  z-index: 5;
}
.control-panel.active {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 20px 20px 5px rgba(255, 254, 254, 0.3);
}
.player .control-panel .album-art {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0);
  transform: scale(1);
  transition: all 0.5s ease;
}

.player .control-panel .album-art::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 10px;
  height: 10px;
  opacity: 0;
  background-color: rgba(255,255,255,1);
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.player .control-panel .album-art::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-image: url('https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3513552/polybreno_1500.jpg');   /*  SET PROFILE IMAGE        */
  opacity: 0;
}
.player .control-panel.active .album-art {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  transition: all 0.5s ease;
  opacity:  1;
}
.player .control-panel.active .album-art::before {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  animation-fill-mode: forwards;
  opacity:  1;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.player .control-panel .controls {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  text-align:center;
}

.player .control-panel .controls .play:hover {
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease; 
}

.player .control-panel .controls .play-container {
  position: absolute;
  font-size: 2em;
  width: 52.75px;
  height: 52.75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #141414;
  padding: 3px 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 4.5px;
  transition: all 0.7s;
}
.player .control-panel .controls .play-container.pause {
  opacity: 0.7;
}
.player .control-panel .controls .play-container:hover {
  opacity: 1;
}

.play-container .play {
  position:absolute;
  width: 45.75px;
  height: 45.75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.7s;
  border: 5px solid #198f01;
  color: #198f01;
  padding: 7px 0 0 5px;
  right: 3px;
  opacity: 1;
}

.play-container .play.pause {
  transition: all 0.7s;
  color: #a91616;
  border: 5px solid #7a0e06;
  opacity: 0.7;
} 
.play-container .play.pause:hover {
  transition: all 0.7s;
  opacity: 1;
} 
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.02); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.01); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}
.brick-img-audio-container{
  position: absolute;
  background:none;
  height: 100%;
}
.brick-img-audio-container.animate_gradient{
  background: linear-gradient(22deg, #16c89a, #ffc404, #c85d16, #c8163c, #09e490, #e8e0d9);
  background-size: 3000% 3000%;
  background-position: bottom;
  -webkit-animation: pulse_animation  0.2s ease infinite, AnimationName 4s ease infinite;
  -moz-animation: pulse_animation  0.2s ease infinite, AnimationName 4s ease infinite;
  animation: pulse_animation  0.2s ease infinite, AnimationName 4s ease infinite;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.brick-img-audio-container.animate_gradient > .brick-img{
  transition: all 1s;
  opacity:0.90;
}
.brick-audio{
  position:absolute;
  width:100%;
  height:40%;
  bottom:40%;
}
.brick-pulse{
  z-index: 1000;
  position:absolute;
  width:100%;
  height:100%;
  top:50%;
}
.glyphicon-pencil{
    color:white;
    margin-left:5px;
    font-size:16px;
}

.glyphicon-pencil:hover{
  transition: all .4s;
  cursor: pointer;
  color: rgb(199, 107, 32);
}

.icon-flipped {
  position: absolute;
  bottom: 0;
  right: 0;
  transform:scale(0.7) scaleY(-1) ;
  -moz-transform:scale(0.7) scaleY(-1);
  -webkit-transform:scale(0.7) scaleY(-1);
  -ms-transform:scale(0.7) scaleY(-1);
}

.flip-profile-icon:hover{
  cursor: pointer;
}
.profile_upload_image{
    /* cursor: pointer; */
}

#upload-profile-image
{
    display:none;
    visibility:hidden;
}
