/* *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

canvas{
    position:fixed;
    display: block;
    /* height: 100%;
    width: 100%; */
    background-color:none;
    z-index: 0;
}