
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face{
    font-family: index-font;
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
}
/* Global Colour */
:root {
  --inset-color: rgb(193, 195, 199);
  --colour1: #0C090A; 
  --colour2: #18121E; 
  --colour3: #233237; 
  --colour4: #983b43; 
  --colour5: #eac67a; 
  --colour6: #BEEAF8; 
}
body{
  background:rgb(213, 218, 219);
}
.sidepanel_body {
  font: 600 12px/1 'Open Sans', sans-serif;
  color: rgb(73, 78, 88);
  padding-top: 100px;
  /* background: #333; */
}

.sidepanel_body h1{
  font-family:Georgia,serif;
  text-transform: none; font-weight: 100;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}

.sidepanel_index-container {
    text-align: center;
    width: 150px;
    position: fixed;
    z-index: 1001;
    top: 0em; /* This was 10em? */

}
.embedded_container {
  width: 100%;
  margin:auto;
  position: relative;
  z-index: 2;
  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}
.embedded_main_content {
  position: relative;
  z-index: 2;
  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}
.embedded_page-content {
  position: relative;
  z-index: 2;
}




/* *, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.sidepanel_wrapper {
  display: flex;
  min-height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
.sidepanel_menu{  
  z-index: 1000;
  position: fixed;
  left: 0;
  top:0;
  background:#2b3033;
  z-index: 1000;
  width: 100vw;
  height: 80px;
  min-width:1300px;
}
.sidepanel_menu-items{
  height: 100%;
  top: 0;
  position:absolute;
  color: white;
}
.sidepanel_menu-item{
  color: white;
  text-align: center;
  right:80%;
}
.sidepanel_menu-text{
  position: relative;
  text-align:center;
  height:100%;
  max-width:100%;
  min-width:960px;
  overflow: hidden;
}

.sidepanel_menu_link{
  transition:all 1s ease;
  -moz-transition:all 1s ease; /* Firefox 4 */
  -webkit-transition:all 1s ease; /* Safari and Chrome */
  -o-transition:all 1s ease;
  font-size: 30px;
  cursor: pointer;
}
.sidepanel_menu_link.active{
  transition:all 1s ease;
  -moz-transition:all 1s ease; /* Firefox 4 */
  -webkit-transition:all 1s ease; /* Safari and Chrome */
  -o-transition:all 1s ease;
  -webkit-transform:  translateX( -40px ) translateY(-5px);
  -moz-transform:     translateX( -40px ) translateY(-5px);
    -o-transform:     translateX( -40px ) translateY(-5px);
       transform:     translateX( -40px ) translateY(-5px);
  height: 120%;
  font-size: 40px;
  color: #cbaaa6;
  cursor: none;
}
.sidepanel_menu_link:hover{
  background-color: rgb(90, 114, 194);
}

h2.sidepanel_menu-link-mid{
  position: absolute;
  float: left;
  left: 30%; /* position the left edge of the element at the middle of the parent */
  height: 100%;
  font: 600 2.5em/1 'Raleway', sans-serif;
  color: #984b43;
  top: -35%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  padding-top:1.8%;
}
.sidepanel_menu-link-mid:hover{
  
}
.sidepanel_menu-link-mid:active{
  background-color: rgb(90, 114, 194);
}
h2.sidepanel_menu-link-left{
  position: absolute;
  float: left;
  left: 10%; /* position the left edge of the element at the middle of the parent */
  height: 100%;
  font: 600 2.5em/1'Raleway', sans-serif;
  color: #984b43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  top: -35%;
  padding-top:1.8%;
}
.sidepanel_menu-link-left:hover{
  background-color: rgb(90, 114, 194);
}
.sidepanel_menu-link-left:active{
  background-color: rgb(90, 114, 194);
}
h2.sidepanel_menu-link-right{
  position: absolute;
  float: left;
   /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  height: 100%;
  font: 600 2.5em/1 'Raleway', sans-serif;
  color: #984b43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  top: -35%;
  padding-top:1.8%;
}
.sidepanel_menu-link-right:hover{
  background-color: rgb(90, 114, 194);
}
.sidepanel_menu-link-right:active{
  background-color: rgb(90, 114, 194);
}
h2.sidepanel_menu-link-login{
  position: absolute;
  float: left;
  left: 70%; 
  height: 100%;
  font: 600 2.0em/1 'Raleway', sans-serif;
  color: #984b43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  top: -35%;
  padding-top:1.8%;
}
.sidepanel_menu-link-login:hover{
  background-color: rgb(90, 114, 194);
}
.sidepanel_menu-link-login:active{
  background-color: rgb(90, 114, 194);
}

#embedded_cube {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: translateZ( -100px ); 
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 3s;
     -moz-transition: -moz-transform 3s;
       -o-transition: -o-transform 3s;
          transition: transform 3s;
}

#embedded_cube figure {
  display: block;
  position: absolute;
}
#embedded_cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}
#embedded_cube .embedded_front  {
  -webkit-transform: translateZ( 100px );
     -moz-transform: translateZ( 100px );
       -o-transform: translateZ( 100px );
          transform: translateZ( 100px );
}
#embedded_cube .embedded_back   {
  -webkit-transform: rotateX( -180deg ) translateZ( 100px );
     -moz-transform: rotateX( -180deg ) translateZ( 100px );
       -o-transform: rotateX( -180deg ) translateZ( 100px );
          transform: rotateX( -180deg ) translateZ( 100px );
}
#embedded_cube .embedded_right {
  -webkit-transform: rotateY(   90deg ) translateZ( 100px ) translateX( 50vw );
     -moz-transform: rotateY(   90deg ) translateZ( 100px ) translateX( 50vw );;
       -o-transform: rotateY(   90deg ) translateZ( 100px ) translateX( 50vw );;
          transform: rotateY(   90deg ) translateZ( 100px ) translateX( 50vw );;
}
#embedded_cubecube .embedded_left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 100px ) translateX( -50vw );
     -moz-transform: rotateY(  -90deg ) translateZ( 100px )translateX( -50vw );
       -o-transform: rotateY(  -90deg ) translateZ( 100px )translateX( -50vw );
          transform: rotateY(  -90deg ) translateZ( 100px )translateX( -50vw );
}
#embedded_cube .embedded_top {
  -webkit-transform: rotateX(   90deg ) translateZ( 100px ) translateY( 50vw );
     -moz-transform: rotateX(   90deg ) translateZ( 100px ) translateY( 50vw );
       -o-transform: rotateX(   90deg ) translateZ( 100px ) translateY( 50vw );
          transform: rotateX(   90deg ) translateZ( 100px ) translateY( 50vw );
}
#embedded_cube .embedded_bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( 100px ) translateY( -50vw );
     -moz-transform: rotateX(  -90deg ) translateZ( 100px ) translateY( -50vw );
       -o-transform: rotateX(  -90deg ) translateZ( 100px ) translateY( -50vw );
          transform: rotateX(  -90deg ) translateZ( 100px ) translateY( -50vw );
}

#embedded_cube.show-front {
  -webkit-transform: translateZ( -100px );
     -moz-transform: translateZ( -100px );
       -o-transform: translateZ( -100px );
          transform: translateZ( -100px );
}
#embedded_cube.show-back {
  -webkit-transform: translateZ( -100px ) rotateX( -180deg );
     -moz-transform: translateZ( -100px ) rotateX( -180deg );
       -o-transform: translateZ( -100px ) rotateX( -180deg );
          transform: translateZ( -100px ) rotateX( -180deg );
}
#embedded_cube.show-right {
  -webkit-transform: translateZ( -100px ) translateX( -50vw ) rotateY(  -90deg );
     -moz-transform: translateZ( -100px ) translateX( -50vw ) rotateY(  -90deg );
       -o-transform: translateZ( -100px ) translateX( -50vw ) rotateY(  -90deg );
          transform: translateZ( -100px ) translateX( -50vw ) rotateY(  -90deg );
}
#embedded_cube.show-left {
  -webkit-transform: translateZ( -100px ) translateX( 50vw ) rotateY(   90deg );
     -moz-transform: translateZ( -100px ) translateX( 50vw ) rotateY(   90deg );
       -o-transform: translateZ( -100px ) translateX( 50vw ) rotateY(   90deg );
          transform: translateZ( -100px ) translateX( 50vw ) rotateY(   90deg );
}
#embedded_cube.show-top {
  -webkit-transform: translateZ( -100px ) translateY( -50vw ) rotateX(  -90deg );
     -moz-transform: translateZ( -100px ) translateY( -50vw ) rotateX(  -90deg );
       -o-transform: translateZ( -100px ) translateY( -50vw ) rotateX(  -90deg );
          transform: translateZ( -100px ) translateY( -50vw ) rotateX(  -90deg );
}
#embedded_cube.show-bottom {
  -webkit-transform: translateZ( -100px )  translateY( 50vw ) rotateX(   90deg );
     -moz-transform: translateZ( -100px )  translateY( 50vw ) rotateX(   90deg );
       -o-transform: translateZ( -100px )  translateY( 50vw ) rotateX(   90deg );
          transform: translateZ( -100px )  translateY( 50vw ) rotateX(   90deg );
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 85vh;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__list--active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  font-size: 24px;
  background: #2b3033;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__link:hover {
  background: #272b2e;
}
@media (max-width: 640px) {
  .nav {
    width: 70px;
  }
  .nav__list {
    height: 90vh;
  }
}

.burger {
  padding-top:40px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background: #2b3033;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger:hover {
  background: #272b2e;
}
.burger__patty {
  position: relative;
  height: 2px;
  width: 40px;
  background: white;
}
.burger__patty:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty, .burger__patty:before, .burger__patty:after {
  will-change: transform;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger--active .burger__patty {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.burger--active .burger__patty:before {
  -webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
          transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
}
.burger--active .burger__patty:after {
  -webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
          transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
}
@media (max-width: 640px) {
  .burger {
    height: 10vh;
  }
  .burger__patty {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .burger--active .burger__patty {
    -webkit-transform: scale(0.8) rotate(90deg);
            transform: scale(0.8) rotate(90deg);
  }
}

.panel {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.panel__wrapper {
  padding: 7vh 7vw;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.panel__content {
  will-change: transform;
  -webkit-transform: scale(0.7) rotateX(-230deg);
          transform: scale(0.7) rotateX(-230deg);
  -webkit-transform-origin: center 80%;
          transform-origin: center 80%;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.panel__content--active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.panel__headline {
  font-weight: 700;
  opacity: 0.8;
  font-size: 48px;
  margin: 0 0 25px 0;
}
.panel p {
  margin: 0 0 25px 0;
  color: #1a1a1a;
  font-size: 24px;
  max-width: 800px;
}
.panel p:last-child {
  margin-bottom: 0;
}
.panel__block {
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0 25px 0;
}
@media (max-width: 640px) {
  .panel__headline {
    font-size: 36px;
  }
  .panel__wrapper {
    padding: 10vh 10vw;
  }
  .panel p {
    font-size: 16px;
  }
}

.c-blue {
  color: #5fc7ea;
}

.c-red {
  color: #e68568;
}

.c-green {
  color: #68e6ac;
}

.c-yellow {
  color: #e6d068;
}

.b-blue {
  background: #5fc7ea;
}

.b-red {
  background: #e68568;
}

.b-green {
  background: #68e6ac;
}

.b-yellow {
  background: #e6d068;
}

.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}
.logo img {
  width: 65px;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}