/* Global Colours */
:root {
  --colour1: #0C090A; /* Black */
  --colour2: #BCC6CC; /* Silver */
  --colour3: #EBF4FA; /* Light Grey */
  --colour4: #FAFFFF; /* Off White */
  --colour5: #79BAEC; /* Blue */
  --colour6: #BEEAF8; /* Lighter Blue */
}

.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  /* height: 100%;
  background-color: #4791D2; */
}

body {
    /* text-align: center;
  font-family: 'Raleway', sans-serif; */
}

.row2    {
  /* margin-top: 80px; */
}

.upload-btn {
  color: #ffffff;
  background-color: var(--colour5);
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #79BADC;
  border: none;
}

.convert-btn {
  color: #ffffff;
  background-color: var(--colour5);
  border: none;
}

.convert-btn:hover,
.convert-btn:focus,
.convert-btn:active,
.convert-btn.active {
  color: #ffffff;
  background-color: #79BADC;
  border: none;
}

h4 {
  /* padding-bottom: 30px;
  color: #B8BDC1; */
}

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

h2 {
  /* margin-top: 15px;
  color: #68757E; */
}

.panel {
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

#upload-input {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container2 {
      position: relative;
      text-align: center;
      opacity:1.0;
  }
}

@media (min-width: 992px) {
  .container3 {
      position: absolute;
      padding-top: 8%;
      /* padding-left: -1%;
      padding-right: -1%; */
      left: 43.5%;
      top: 10.75%;
      /* border-style: solid; */
      text-align: center;
      opacity:0.0;
      z-index: 3;
  }
}


#wrap {
  background: #e7e7e7;
  padding: 40px;
  text-align: center;
  width: 100%;  
  vertical-align: middle;

}

#left, #right, #center {
   background: #ccc;
   display: inline-block;
   width:20%;
   height: 600px;
   margin-left: 5%;    
   margin-right: 5%;   
   padding: 20px;   
   overflow:hidden;
}

#right:hover > p.image_title{
  transition: 2s;
  color: black;
}
#left:hover > p.image_title{
  transition: 2s;
  color: black;
}
#left:hover > {
  transition: 2s;
  color: black;
}
.home_arrow{
  font-size:100px;
}

p.image_title{
  font: 50px 'Open Sans', sans-serif;
  color: #ccc;
  font-weight: 300;
  letter-spacing: 0.5px;

  line-height: 1;
}
