<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Listen To This Image</title>

<!-- D75848	C15B4D	B84131	F19286	F1B8B1 D7B148	C1A34D	B89531	F1D586	F1E1B1  6B3690	643881	59257C	B57FDA	C4A3DA-->

    <!--W3-CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/tools/flickity.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/flick.css">

    <script src = "../javascripts/jstools/flickity.pkgd.min.js"></script>
    <script src = "../javascripts/flick.js"></script>
</head>
<body>
        <h1>Flickity - keyhole parallax</h1>
        <div class="carousel">
          <div class="carousel-cell">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
          </div>
          <div class="carousel-cell">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
          </div>
          <div class="carousel-cell">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
          </div>
          <div class="carousel-cell">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
          </div>
          <div class="carousel-cell">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" alt="contrail" />
          </div>
          <div class="carousel-cell">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" alt="golden hour" />
          </div>
          <div class="carousel-cell">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" alt="flight formation" />
          </div>
        </div>
</body>
</html>