<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Image Listener</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>

    <script type = "text/javascript">
        angular.module("sample", []);
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
<!--===============================================================================================-->
    <!--W3-CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/home.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/drag.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../javascripts/drag.js"></script>
</head>

<body>

     <!--TITLE-->
    <div class="container">
        <div class="jumb">
            <h1 class="home_title">give me an image <br> <span > and i will listen </span></h1>
            <figure class="button-help">
                <placement1>
                    <img src = "images/question-mark.svg" align="middle" alt="Help" width="65%" height="65%"/>
                </placement1>
            </figure>
        </div>
    </div>
    <div id = "wrap">
        <div id = "left">
                <p class="image_title">give me an image</h1>
        </div>

        <div id = "right">
                <p class="image_title">give me a song</h1>
        </div>
    </div>

        <!-- <div> -->

<!-- 
         <div class="button-background">
                <img src="images/two-boxes-text.svg" width="50%"/>



            </div> 
           <img id="button-left-box" src="images/two-boxes-left2.svg" width="18.5%"/>
            
            <div class="container2">
                <div class="row2">
                    <div class="col-xs-12">
                        <div class="panel-body">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"></div>
                            </div>
                            <button class="btn btn-lg upload-btn" type="button">upload here</button>
                        </div>
                    </div>
                </div>
            </div>

            <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
            
            <div id="button-left">
                <img src="images/two-boxes-left-hover1.svg" width="50%"/>
            </div>
            <img id="button-middle-box" src="images/two-boxes-middle2.svg" width="11.3%"/>

            <div class="container3">
                <div class="row2">
                    <div class="col-xs-12">
                        <div class="panel-body">
                            <div class="progress">
                                <div class="progress-bar2" role="progressbar"></div>
                            </div>
                            <button class="btn btn-lg convert-btn" type="button" onclick="convert()">convert here</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="button-middle">
                <img src="images/two-boxes-middle-hover1.svg" width="50%"/>
            </div>
            <img class="button-right-box" src="images/two-boxes-right2.svg" width="19%"/>
            <div class="button-right">
                <img src="images/two-boxes-right-hover1.svg" width="50%"/>
            </div>
        </div>

        <button onclick="myFunction2()">Try it</button>


        <p id="p1">place an <br> image <br> here</p>
        <p id="p2">music will <br> be made <br> here</p>
        <p id="p3">Ready?</p> 
 -->


    <div id="drop_zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">

    </div>

    <script src="../javascripts/home.js"> </script>
    <!-- <script src="../javascripts/drag.js"> </script> -->
    <script>
        $(document).ready(function(){

        });
    </script>


</h2>


</body>
</html>
